[2018-07-02 21:45] mockitoguy opened #2 "Public release of mockito-scala"
This ticket tracks work needed to release mockito-scala

- [x] - @bbonanno, can you make the artifacts in "target" directory have the dir structure as expected in a Maven repository? It is needed so that when we publish to Bintray the artifacts will be neatly resolvable by ivy/SBT, Maven or Gradle.
- [x] - @mockitoguy - configure Bintray publications
- [x] - @mockitoguy - update the README (if nee

[2018-07-03 07:02] bbonanno commented on #2
Isn't that the purpose of the ```dist``` folder? if so it works already

[2018-07-07 14:28] mockitoguy commented on #2
@bbonanno, check out the new PR, we should be able to publish to Bintray soon.

Can you explain how the target/dist directories work? Are those standard dirs in SBT projects? I'm considering if we should put all the outputs inside the "build" dir for clarity. However, if they are standard convention of SBT Scala projects, let's just keep it simple.

[2018-07-07 16:21] bbonanno commented on #2
@mockitoguy It's not 'standard' to use the dist directory, but it's what play-parsec is configured to do, so I did it that way.
build.sh specifies that here ```set every publishTo := Some(Resolver.file("local-repo", file("dist")))``` and then there is a declaration in shipkit.gradle ```ext.releaseSpec = fileTree("dist")``` that I guess is to instruct it to use that dir
We can put everything in tar

[2018-07-08 05:10] mockitoguy commented on #2
Thank you for information! The SBT build in play-parseq was created by original authors and I did not dig into its design. From the standpoint of SBT, is there are reason we do 'rm -rf dist' in 'clean.sh' and 'build.sh'?

To keep the house tidy, I'm in favor to changing "dist" -> "target/dist" and fixing "clean.sh" + "./gradlew clean" so that it actually cleans up all build outputs. However, let's

[2018-07-08 05:46] mockitoguy commented on #2
Good news :)

[code]

@bbonanno, ready to include 0.0.3 in JCenter? Once we do it, we cannot remove the artifact. We will also work on Maven Central.

[2018-07-08 12:17] bbonanno commented on #2
@mockitoguy Great news!!!

I've created 2 new PRs, one is to move the dist folder inside target

The other one is a feature I'd like to have in the initial release, but that I had to hack a bit to make it work, I'm willing to live with the hack unless you can think in a better way to do it. Otherwise I'd merge it like this and we can discuss what would be the right way to do it when mockito-core s

[2018-07-14 08:02] mockitoguy commented on #2
Let's work on the by-name feature after the initial GA. The binaries are already released to Bintray so people can use them:
 - https://dl.bintray.com/mockito/maven/org/mockito/mockito-scala_2.12/
 - https://bintray.com/mockito/maven/mockito-scala/

Are you ready to ship to Maven Central? If I hear from you, I will pull the trigger.

[2018-07-14 09:03] bbonanno commented on #2
@mockitoguy go for it!

I have a PR ready (#6) for when that's done so we add the links to Maven and Bintray to the README

[2018-07-16 06:58] mockitoguy commented on #2
Sounds good! I requested "mockito-scala" package to be included in JCenter (first step to Maven Central publications).

[2018-07-16 07:00] bbonanno commented on #2
@mockitoguy Great!

[2018-07-16 21:53] mockitoguy opened #7 "Fix Maven pom problems"
Generated pom.xml file should meet all requirements of Maven Central. Here's the validation error I saw when attempting to sync mockito-scala to central:

[code]

@bbonanno, can you take a look at it? Thanks!

[2018-07-17 07:08] bbonanno commented on #7
@mockitoguy #8 should do the trick (I hope, can't test it)

Cheers

[2018-07-23 16:15] mockitoguy commented on #7
Looks good! I've exported the env variables (nexus user and password) to the Travis CI repo. This way, we will get automated publications to central every merged pull request :)

[2018-07-23 16:15] #7 closed

[2018-07-23 16:54] bbonanno commented on #7
@mockitoguy Amazing!

Now to spread the word!

[2018-07-25 06:00] tjarvstrand opened #10 "Support for value type argument matchers"
Is there any way it would be possible to get out-of-the-box support for value types in argument matchers? Ie. allowing me to write eg. `any[MyType]` instead of `MyType(any[Int])`

That would be really nice!

[2018-07-25 18:04] bbonanno commented on #10
@tjarvstrand I came here just to create this ticket!

Work in progress...

[2018-07-25 18:04] bbonanno opened #11 "Support for by-name parameters"
Add support for lazy arguments on methods

[2018-08-01 19:26] bbonanno commented on #10
@tjarvstrand version 0.0.9 adds support for value classes

[2018-08-01 19:26] #10 closed

[2018-08-02 21:00] mockitoguy commented on #10
Nice!

[2018-08-03 06:57] bbonanno commented on #11
@mockitoguy Would you have time to help me with this? is what I started in PR #5

[2018-08-08 03:13] mockitoguy commented on #11
I'll work on this soon. Thanks for reminder!

[2018-08-08 12:43] dpfeiffer opened #16 "Documentation for mockito-core and mockito-scala dependency order"
I just saw `mock[X]` randomly working and not (`ArgumentsProcessor.extractors` not found) which seems to be related to `mockito-scala` overwriting that class.

If I remember correctly to make this work the `mockito-core` dependency has to be declared explicitly before the `mockito-scala` dependency like

[code]

Maybe I am missing something but if my assumption is right I suggest to add that infor

[2018-08-08 17:05] bbonanno commented on #16
Hi @dpfeiffer, mockito-scala will pull the appropriate mockito-core version, so you shouldn't need to declare it at all, but I agree, it currently relies on a class loader hack, so if you do declare the mockito-core dependency the order matters, I've added a note to the documentation

Many thanks for the feedback

[2018-08-08 17:58] Krever opened #17 "Suppor scalamock-like syntax and implicit verification?"
Hey!

I recently started to work on a library that was going to be called `mockito4s` which rather explains its purpose. It's not yet polished nor published and I see little point in continuing to work on it when we have this awesome alternative.

Having said so one of my main objectives was to expose 2 features inspired ScalaMock library:

1. Better syntax
Mockito:
[code]
ScalaMock:
[code]
My ide

[2018-08-08 18:34] bbonanno commented on #17
Hi @Krever
It sounds quite cool, extension methods was something a was thinking how to solve
What I don't get is what you mention about type inference, I never had issues with it using the standard mockito syntax, could you please provide a code snippet that shows the issue?

I agree with the verbosity of the verifications, and it would be great to find a way of simplifying them

Please do share t

[2018-08-08 19:38] Krever commented on #17
Here is the link to the impl: https://gitlab.com/w-pitula/mockito4s
It's on gitlab cause I don't want to claim rather good name at this stage and confuse people.
It's rather simple but let me know if anything needs more explanation. We could also talk on gitter if a more dynamic form of communication is required.

This is my bad, I was not clear enough. Original mockito syntax doesnt suffer from s

[2018-08-08 19:55] bbonanno commented on #17
All right, I'm taking a look at the code

In the meantime, it's worth to note 2 things
a) you're using Mockito 1.x which had several shortcomings to play with scala
b) any[T] from ArgumentsMatchersSugar solves the type inference anyway (partially by wrapping the call with a Scala call, and partially because it uses Mockito 2.x)

I still think that the syntax you propose could help with other scena

[2018-08-09 05:56] mockitoguy commented on #17
@Krever, thank you for feedback and suggestions!

The implicit verification is available with Mockito today when "strict stubs" are used. Have you seen this feature?

[2018-08-09 06:04] Krever commented on #17
No, apparently I have not, thanks! It feels like I might have missed a lot of mockito development.

Nevertheless, this looks awesome and much simpler then the workaround I came up with. It seems that for scala users (who typically use specs2 or scala test, not junit) `MockitoSession` is a way to go, is that correct?

[2018-08-09 07:44] dpfeiffer commented on #16
Hi @bbonanno, thanks for your quick reply, actually putting an explicit `mockito-core` dependency in was just an attempt to fix loading the wrong (the one from `mockito-core`) `ArgumentProcessors` class and therefore getting a field not found. (`extractors`). I thought that declaring the dependency explicitly might solve that issue but it didn't.

Could it be that by declaring scalatest (which has

[2018-08-09 07:47] sirmax opened #18 "Conflicting versions of ArgumentsProcessor in mockito-core and mockito-scala"
`org.mockito.internal.invocation.ArgumentsProcessor` class exists in both `mockito-core` and `mockito-scala` projects with different API.

Since classloading order is unreliable both versions can be loaded. As a result, when `mockito-core`'s version gets loaded first, there will be errors
[code]

Please consider moving or renaming `mockito-scala`'s version.

[2018-08-09 08:07] bbonanno commented on #18
We rely on the class loader to replace that class for the time being (ugly hack, I know).
mockito-scala already pulls the right version of mockito-core as a transitive dependency, so you shouldn't have to declare it explicitly and that should also solve the class loader issue by making the mockito-scala version of the class the winning one

Please let me know if you have the same issue when only d

[2018-08-09 08:09] bbonanno commented on #16
That could be it, when I tried it in a third project I was declaring it as the last test dependency (just by chance) so I've never seen the issue, please try declaring it as the last one and/or exclude scalatest's transitive dependency on mockito

I'd do some investigation tonight to see if I can get to the bottom of the issue

[2018-08-09 08:11] bbonanno commented on #17
@mockitoguy Thanks for the input!
@Krever do you want to create different issues for each one of the features you think are missing so we can tackle them one by one? also feel free to submit PRs if you have a working implementation for any of them already

[2018-08-09 08:17] Krever commented on #17
@bbonanno It feels like all the necessary features are already available. I will check it out in practice and create new issues if anything pops up.

The only feature I can think of is integration with testing frameworks to make enabling strict stubs easier. But its a completely separate thing from this issue.

Thank you guys for all your help!

[2018-08-09 08:17] #17 closed

[2018-08-09 19:27] bbonanno commented on #18
Well, it seems that it's not consistent, I've created a dummy test project https://github.com/bbonanno/mockito-scala-as-dependency and it works as it is, but then if you add the `mockito-core` dependency, sometimes it works in SBT and not in the IDE and vice-versa depending in what order you put it, something surprising is that for some people it seems to work by putting the `mockito-core` depende

[2018-08-09 19:27] bbonanno commented on #16
Please refer to https://github.com/mockito/mockito-scala/issue_comments#issuecomment-411869701

[2018-08-09 19:29] bbonanno commented on #16
please refer to #18

[2018-08-09 19:29] #16 closed

[2018-08-11 15:15] bbonanno opened #21 "Add scalatest integration to support strict stubs"
Implement an integration with scalatest to provide implicit verifications (via strict stubs) as was suggested in #17 by @Krever

[2018-08-11 19:41] #21 closed

[2018-08-14 17:21] jozic opened #25 "Publish version for Scala 2.11 please?"

[2018-08-15 07:03] bbonanno commented on #25
This isn't an easy one as if I remember correctly we rely on some 2.12 features, but I'll give it a go to see what happens!

[2018-08-18 11:36] bbonanno commented on #25
Scala 2.11 support was added by #26

[2018-08-18 11:36] #25 closed

[2018-08-18 12:07] jozic commented on #25
thanks

[2018-08-18 14:45] bbonanno commented on #25
Please read https://github.com/mockito/mockito-scala#notes-for-scala-211 as a couple of things are not supported in Scala 2.11

[2018-08-20 00:44] aselamal opened #27 "Feature request: no nulls by default."
In scala code `null` is  rarely used in favour instead of `Option.None` or for collections an empty collection. As a result the actual code is not checking or expecting null.

This doesn't play well with mockito which returns nulls by default for non-stubbed methods, is it possible to somehow wire up something to change this behaviour inside this framework itself.

So it could default for e.g. any

[2018-08-20 07:44] bbonanno commented on #27
Thanks for raising this, I'm actually working on it already :)

Keep tuned

[2018-08-22 07:09] Krever opened #29 "warn "Dead code following this"

[2018-08-22 07:53] bbonanno commented on #29
Interesting, I haven't seen that, is it just a warning in the console or it does affect the next line of code?

Would you be kind to create a tiny project that shows the problem so I can reproduce it?

Or if you prefer, just make whatever change is necessary [here ](https://github.com/bbonanno/mockito-scala-as-dependency), it's a toy project I use for this kind of things

Cheers!

[2018-08-22 09:05] Krever opened #31 "strict stubbing in MockitoFicture is not used when mocks are declared as test class fields"
[code]

because mocks are created before the session is registered(which happens inside `withFixture`) they are not treated as strict mocks and allow unused stubbing.

[2018-08-22 09:31] bbonanno commented on #31
Yes, but that's expected, as you want fresh mocks for each test, this has 2 main reasons

1. It is related on how the original MockitoSession works, it's only aware of the mocks created after it has been started and it drops that state as soon as you close it

2. Each test should start with a fresh, clean, state. If you share mocks across tests you could run into problems by tests finding pre-stub

[2018-08-22 09:35] bbonanno commented on #27
Hi @aselamal, is still work in progress (and part of a bigger refactor) but you can check the PR #30 if you like, it would be nice to have a second opinion on it

[2018-08-22 09:58] Krever opened #32 "MockitoFixture cannot be used with ResetMocksAfterEachTest"
sorry that I only report issues instead of fixing them immediately in a PR, Im low on time ;/

[2018-08-22 10:24] Krever opened #33 "Test failures are swallowed by MockitoFixture"
Current implementation:
[code]
If `outcome` is a failed test and we have unused stubbings because of it then `session.finishMocking()` will throw an exception and the original test failure wont be presented to the user.

[2018-08-22 10:27] bbonanno commented on #29
Oh, I understood that putting that flag removes the warn
I'll put the flag and try it out then

[2018-08-22 10:28] bbonanno commented on #31
hahaha, nice

I agree, it needs to be properly documented

[2018-08-22 10:33] Krever commented on #29
One potential solution is to return `SomeWrapper[T]` instead of `T` and then have an implicit conversion from `SomeWrapper[T]` to `T`. I have not check if it works though.

[2018-08-22 10:33] bbonanno commented on #32
That's all right

I haven't put much effort in this one (maybe I just should document it doesn't work) as both modes are somehow incompatible

This trait is aim for people that **must** declare their mocks outside the test scope, and as we discussed in #31 the session basically requires the mock to created as part of each test and not as part of the test class

I'm going to think if there is a fan

[2018-08-22 10:36] bbonanno commented on #33
PR #30 addresses this (I hope, maybe I missed it altogether, but I've done a lot of changes there) and some other issues/improvements, please take a look at it if you can, is not ready yet but I raised it to collect people's opinions

[2018-08-22 10:38] Krever commented on #33
Sure, thanks!

[2018-08-22 10:39] Krever commented on #32
Nope, your reasoning is fully correct, I would just mention it explicitly in the docs :)

[2018-08-22 22:46] aselamal commented on #27
@bbonanno cool, progress so quickly!
I have a couple of points

a) For `Try` ( and I guess `Future`) would be nicer if it could default to its "pure" function so for e.g. `Try[Option[String]]` becomes `scala.util.Success(None)`, does type erasure make this impossible?

b) Is there some way this could be extensible so the users could hook in other types? Thinking especially of classes introduced by

[2018-08-23 06:34] Krever opened #34 "Feature request: unify matchers and raw values"
This was discussed in core mockito here: https://github.com/mockito/mockito/issues/1398 but it doesnt seem to be available soon.

Considering that with mockito-scala we don't have to care about compatibility maybe we can somehow implement this feature here?

Its so annoying I would even consider spending some time on implementing this during the weekend but I don't have a good idea on how to achie

[2018-08-23 07:56] aselamal opened #35 "0.3.1 Mock creation in `thenReturn` fails (works with scalatest mockitosugar)"
So I have a weird error that I've tried to narrow down to a simple scenario. Basically If I try to create a mock in the `thenReturn` method of stubbing it fails at runtime. It works if the mock is created before and also works if I'm using the scala test  mockito sugar, not really sure what is going on here.

[code]

Only `Mock inside then return doesn't work` and it fails with

[code]
Using
[code

[2018-08-23 17:15] bbonanno commented on #27
@krever @aselamal @tpalanga I'm thinking in making empty values something not enabled by default, the reason being that with the smart-nulls, you would still get a "List" or an "Option" but as soon as your code tries to call something on them they'll fail and tell the user he's trying to use the result of something he didn't stub

I think this will help finding a lot of false positives/negatives,

[2018-08-23 17:26] Krever commented on #27
Smart nulls are the best option for me, definitely.

I would put empty valies somewhere in the lib, as you have already written it, but not as a default for sure.

[2018-08-23 23:05] aselamal commented on #27
To me its like the the `RETURN_DEEP_STUBS` option, so perhaps not on by default but something you can turn on easily for a given mock because I agree it depends on use case.

[code]

without a None return this would fail and force me to mock.

However a "Java" style solution with null guards would have handled it.
[code]

[2018-08-24 07:02] bbonanno commented on #27
That's exactly what we have now, check this test
https://github.com/mockito/mockito-scala/pull/30/files#diff-757050a165ef4dd5d1090f1e22959dc9R128

[2018-08-25 18:58] bbonanno commented on #35
Fixed on #30

[2018-08-25 18:58] #35 closed

[2018-08-25 18:58] bbonanno commented on #33
Fixed on #30

[2018-08-25 18:58] #33 closed

[2018-08-25 18:58] bbonanno commented on #32
Fixed on #30

[2018-08-25 18:58] #32 closed

[2018-08-25 20:43] bbonanno commented on #27
PR #30 solves this, empty values are not enabled by default but we don't return nulls when possible
Empty values for Scala are available by using the `ReturnsEmptyValues` as the mock default answer

[2018-08-25 20:43] #27 closed

[2018-08-27 14:11] #11 closed

[2018-08-27 14:32] bbonanno opened #37 "Version 1.x.x"
The aim of this release is to provide an overhauled API that removes all usages of the Java API
We'll try to be as backwards compatible as possible, but they may be some breaking changes

- [x] Wrap every Java object returned by Mockito in a Scala class
- [x] Try to unify ArgumentMatcher[T] and standard arguments with the new API
- [x] Design a stable and scalable API

Ongoing work will go to the

[2018-08-27 14:35] bbonanno commented on #34
@Krever I think this needs a change in the API, I added it as part of the goals for version 1.x.x, please take a look in #37
Also given that issue is a big rehaul of the whole thing I'd like as much input (and contributions if possible) as possible :)

I'm closing this one as I don't think this can be achieved with the current API

[2018-08-27 14:35] #34 closed

[2018-08-29 06:29] Krever opened #38 "Answers.RETURNS_DEEP_STUBS broken in 0.4.2"
Hey, I would love to be able to tell more, but for now all I know is that my code that relied on
[code]
is no longer working. Im using `MockitoFixture`. The error I get in the newest version:
[code]

This is probably somehow related to new default-default-answer but I didint have time to investigate.

[2018-08-29 06:43] Krever commented on #38
After a little bit of investigation, the problem comes from `MockitoScalaSession` implementation. And the biggest problem is that I'm no longer able to drop-out from this behavior by using `MockitoSugar.mock` or `Mockito.mock`.

[2018-08-29 06:48] bbonanno commented on #38
What exactly is the problem with `MockitoScalaSession`? (so I can fix it quicker)?

[2018-08-29 07:00] bbonanno commented on #38
I found the problem, the mock returned as a deep stub was never supposed to be called on `.foo()` and because we are running on `STRICT_STUBS` it fails, it makes sense after all.

The question is, do we really want to keep silent? I mean, the whole idea of `STRICT_STUBS` is to fail in this kind of scenario when we're calling methods we didn't stub.

Or maybe for mocks created using `Answers.RETURN

[2018-08-29 07:05] Krever commented on #38
My intuition is that when someone asks for deep stubs he do this because he doesn't want to stub these things explicitly. So I would exclude all the calls covered by `deep_stubs` from verification of `strict_stubs`. But the mocks created by this deep stubs (so the result of `mymock.someMethod` in my example) should still be covered by `strict_stubs`.

[2018-08-29 08:04] bbonanno commented on #38
The thing is you can't do that, cause sometime the user will expect to go one level deep (like your example) but some other maybe 3 or 4, so you never know where to stop and be 'strict'

I agree that if you are deliberately using 'DEEP_STUBS' you are implying that you don't want strict behaviour for that particular mock.

I'm gonna have to write my own implementation of the Answer to achieve that,

[2018-08-29 08:14] Krever commented on #38
Thanks for the workaround!

Maybe we could somehow implement this as "if the mock was created as a deep stub, the method that caused the creation is expected to be called". Would that work?

So in
[code]
`mock.m1` is expected and so are invocations of `m2` and `m3` (`m4` is obvious).

[2018-09-01 16:28] #38 closed

[2018-09-06 07:48] tjarvstrand opened #42 "spyLambda can only be used once"
Both of the below examples fail the second testcase whereas the first passes:
[code]

[2018-09-07 07:06] bbonanno commented on #42
Those examples will fail both as the verification is incomplete, I fixed the verifications and they both work, could you check this code and make it fail so I can reproduce the issue?

[code]

Thanks

[2018-09-10 11:10] tjarvstrand commented on #42
Yes, that seems to work. Newbie mistake, sorry.

Thanks!

[2018-09-10 11:10] #42 closed

[2018-09-27 09:42] bbonanno opened #44 "Scalactic integration"
Check if we can integrate matchers with Scalactic so we can reuse the type classes of `===` and the like

[2018-10-08 20:32] bbonanno commented on #37
Release 1.0.0-beta.1 is out, I'd love some feedback

[2018-10-08 20:33] #2 closed

[2018-10-09 09:17] tudanmeng opened #45 ""illegal cyclic reference involving object Suggest" When Trying to Mock RestHighLevelClient"
Hi,

When I tried to mock Elasticsearch's RestHighLevelClient (6.4.0) I encountered the following excption

By the way, my mockito-scala version is 0.4.5

`
illegal cyclic reference involving object Suggest
scala.reflect.internal.Symbols$CyclicReference: illegal cyclic reference involving object Suggest
	at scala.reflect.internal.Symbols$Symbol$$anonfun$info$3.apply(Symbols.scala:1523)
	at scala.r

[2018-10-09 10:05] tudanmeng commented on #45
Here is a workaround:
Instead of using `mock[RestHighLevelClient]`, using the old school method `Mockito.mock(classOf[RestHighLevelClient])`

[2018-10-09 21:04] #45 closed

[2018-10-09 21:06] bbonanno commented on #45
@tudanmeng Thanks for reporting this, version 0.4.6 has the fix

[2018-10-25 08:32] #44 closed

[2018-10-29 16:59] #37 closed

[2018-11-04 12:40] ghost opened #53 "testing private methods"
Hi,

Great framework. Loved knowing about it. But could not figure out how to test private scala methods? Does it support?

[2018-11-04 12:45] Krever commented on #53
Hey, it would be reasonable to assume mockito-scala has similar limitations as mockito itself, so no, it doesnt support mocking private methods. You can check this [SO question](https://stackoverflow.com/questions/8799439/testing-private-method-using-mockito) and Powermock library mentioned there.

[2018-11-04 13:04] ghost commented on #53
yeah!! thanks..

[2018-11-06 22:58] ultrasecreth commented on #53
thanks @Krever, I agree, if you feel you need to mock a private method what you probably need is to refactor your code a bit in order to separate responsibilities, so then it's easier to test and reason about.

[2018-11-06 22:58] #53 closed, assigned to nobody

[2018-11-06 23:27] jozic opened #54 "`was never called` overload has limitations"
Writing something like

[code]
 doesn't compile

while
[code]
compiles fine

![image](https://user-images.githubusercontent.com/124249/48100459-52f5ab80-e1f1-11e8-874e-5521da61e82d.png)

[2018-11-06 23:27] jozic commented on #54
@bbonanno fyi

[2018-11-07 14:18] ultrasecreth commented on #54
@jozic Yeah, I've seen this before somewhere else, I'm not exactly sure if it can be solved while keeping the same syntax (I wouldn't like to introduce antother breaking change)
Ideas?

[2018-11-07 16:30] jozic commented on #54
I understand that breaking changes are bad, but non compiling code is even worse :)
and it wasn't like I figured out the solution in 5 seconds, I was almost at the point to give up

so i personally think it should be fixed at any cost, but of course this is just my opinion

[2018-11-07 22:59] ultrasecreth commented on #54
The problem is that the postfix notation can not always infer where the `;` goes, that's one of the reasons why it's hidden behind a feature flag

my point is I'm not sure how to re-write the 3 use cases in case that's the only solution, i.e.

[code]

How can we semantically re-write those 3 while keeping an english syntax that makes sense

[2018-11-08 02:25] jozic commented on #54
`was never calledAgain`? `was neverCalled again`?
it looks worse then all words separately, but we already sort of have similar case with `was called` and `wasCalled once`

[2018-11-08 17:55] ultrasecreth opened #55 "eqToVal does not work if the value class is provided as an instance or variable"
eqToVal requires you to provide the type and the wrapped value separately, so you can't declare the type naturally or worse, you can't use an existent variable that holds the value to be matched

[2018-11-08 18:05] ultrasecreth commented on #54
@jozic not sure if you get the notifications for the PR #56, so just in case I drop this "please check it out here" :)

[2018-11-09 19:48] #55 closed, assigned to nobody

[2018-11-09 19:48] #54 closed, assigned to nobody

[2018-11-14 00:29] kflorence opened #57 "ScalaTest AsyncWordSpec and wasCalled"
The `AsyncWordSpec` trait in scalatest expects a return type of `Future[Assertion]`, but some of the `IdiomaticMockito` matchers return type `Unit` (for example, `foo.bar wasCalled once`), which makes them unusable ("Expression of type Unit does not conform to expected type Assertion").

[2018-11-14 08:05] ultrasecreth commented on #57
Hi, first, thank you for reporting this, but, would you mind posting a
snippet of code that reproduces the issue?

Cheers

Bruno

On Wed, 14 Nov 2018 at 00:29, Kyle Florence <notifications@github.com>
wrote:

--
Sent from my iPhone

[2018-11-14 12:45] jozic commented on #57
from scalatest docs http://www.scalatest.org/user_guide/async_testing

[code]

[2018-11-14 12:47] jozic commented on #57
@kflorence
I guess alternatively you can write an implicit conversion that turns `Unit` to `Assertion` (just returns `succeed`) and make it available in your tests

[2018-11-15 11:32] gadcam opened #58 "HttpExt.singleRequest with implicit parameters can not be mocked"
If I try to mock the object <code>HttpExt</code> (imported like this <code>import akka.http.scaladsl.HttpExt</code>) it will not work with this library.
This one will mock the object
[code]

this one will not work i.e. it will just return an instance of HttpExt and not a mock
[code]

I also could not spy an HttpExt instance.

I am using
[code]
and

[code]

[2018-11-15 15:40] ultrasecreth commented on #58
Hi @gadcam
I just tried the following and it worked

[code]

Could you provide a full example so I can try to reproduce it?

That said, it's usually a code smell/anti-pattern to mock classes you don't own, why is that you need to mock `HttpExt` and not something you own and that uses `HttpExt` underneath?

[2018-11-16 13:27] gadcam commented on #58
Hi @bbonanno,
Thank you for your very quick answer. I am really sorry my first post was very innacurate, feel free to rename the issue.
I thought the problem was broader than I think now as the debugger was showing me that the object <code>httpMock</code> was **not** a mock.

So here is my Minimal, Complete, and Verifiable example.

MainTest.scala
[code]

The library I import
[code]

And it will t

[2018-11-16 17:01] ultrasecreth commented on #58
@gadcam The problem is that mockito-scala is aware of default arguments, if you look at the signature of `singleRequest` it looks like
[code]

Now, the `log` parameter receives as default `system.log`. As `system` hasn't been stubbed, mockito-scala will return a SmartNull (a mock that will fail if you call any method on it) which is the one that is throwing that exception you see...

You have many

[2018-11-16 17:04] ultrasecreth commented on #57
@jozic thanks for the help.
@kflorence do you think any extra integration would make things easier? I think that it would be fine if you do the implicit conversion from Unit to Assertion, but I wouldn't put it in the library as it could lead to unexpected behaviours

[2018-11-19 09:46] gadcam commented on #58
@bbonanno Thank you for the clarification.
Do you know why Mockito in scalatest does handle this case ?

Thank you for the advice I will use the new API.

[2018-11-19 10:52] ultrasecreth commented on #58
@gadcam It actually doesn't
For starters, Scalatest doesn't provide any mocking library, it only wraps the `mock` method with a nicer syntax, but you are 100% using the Java Mockito.
Java Mockito is completely oblivious to default arguments (and any other Scala-only feature), from the Mockito point of view, they are null if you don't provide them (you can check this by writing a `verify` to see wh

[2018-11-19 14:15] gadcam commented on #58
@bbonanno Thank you for your patience.
So now as I understand it: the example I gave was only working thanks to a side-effect of using Java Mockito.

In my code the situation is a bit more complex : an actor is using the mockHttp object, as a consequence I can not override the default argument.

I solved it by passing the system object to the mock

[code]

Please note that in a non-test code it wo

[2018-11-19 14:15] #58 closed, assigned to nobody

[2018-11-19 15:09] #57 closed, assigned to nobody

[2018-11-19 19:21] michael-camacho opened #60 "ArgCaptor results in NullPointerException when trying to access value"
My code is of the form:

[code]

When I try to access the value in any way, even by doing a `toSeq`, I get a `NullPointerException`. I know that something _should_ be captured, since I can get a valid value if I use the standard Mockito `ArgumentCaptor.forClass` approach.

It's a shame, because I really like the new syntax. :)

[2018-11-19 21:03] ultrasecreth commented on #60
So I just quickly tried
[code]

and it works, can you post a full code example? also, what version of the lib are you using?

[2018-11-21 08:07] ultrasecreth commented on #60
@michael-camacho is this still an issue?

[2018-11-21 11:43] wunderk1nd-e opened #61 "Stubbing mocks/spies does not appear to work with methods that return value classes"
As detailed in this stack overflow ticket:
https://stackoverflow.com/questions/49070901/mocking-a-method-which-returns-an-fs2-stream

Mockito seems to think that the return type should be whatever the value class contains - rather than the value class itself - and this ends up throwing `org.mockito.exceptions.misusing.WrongTypeOfReturnValue`.

[2018-11-21 23:09] ultrasecreth commented on #61
@wunderk1nd-e thanks for reporting this, I think I got it solved, will try to get a second pair of eyes on it before merging it (you're welcome to review it if you like)

[2018-11-22 11:34] wunderk1nd-e commented on #61
Thanks a ton :)

[2018-11-22 11:34] #61 closed, assigned to nobody

[2018-11-22 11:43] ultrasecreth commented on #61
@wunderk1nd-e No problem!, do you wanna make the honors in StackOverflow?

I tried the following while writing the fix and it works

[code]

Let me know otherwise

[2018-11-22 11:44] ultrasecreth commented on #60
Can't reproduce, closing it

[2018-11-22 11:44] #60 closed, assigned to nobody

[2018-11-28 16:17] michael-camacho commented on #60
@bbonanno My apologies! I've not been receiving notifications for some reason. I'll have to check my settings. I only even realised you'd responded as a consequence of manually checking the issue just now. :(

I was using version 1.0.2, but the issue is still present in 1.0.5.

I hadn't tried `captor.value` before, and indeed that _does_ work and returns a `Seq` of values, but the problem I report

[2018-11-28 16:21] ultrasecreth commented on #60
@michael-camacho Sorry but I don't understand the problem, where would you do `captor.toSeq`? could you post a full piece of code that I can copy and paste to reproduce the issue?

[2018-11-28 17:45] michael-camacho commented on #60
@bbonanno Er, my understanding is that the new syntax supports an implicit conversion of the captor to the underlying type, so that you can use it in place of the actual value. Maybe I'm wrong though?

You would do `captor.<reallyActuallyAnySeqMethod>` anywhere after you'd captured the value. To modify your example, for instance:

[code]

In this version, `captor.head` should return the string val

[2018-11-28 18:08] ultrasecreth commented on #60
@michael-camacho The implicit conversion is from `captor` to `captor.capture`
There is no conversion between `captor` and `captor.value` as there can be only one implicit conversion `Captor[T] => T`

That's why the captor provides a convenience matcher `def hasCaptured(expectation: T)` that enables writing `captor hasCaptured Seq("v1", "v2")`

[2018-11-28 18:45] michael-camacho commented on #60
@bbonanno Ah, for the `verify`, I see! Gah, it seems obvious now. >_<

Thanks for taking the time to explain! I can see why the "problem" sounded so confusing now. I think Mockito's operation is still a bit too magical to me, and I have to spend more time looking at how it works below the surface. ;-)

[2018-11-28 18:48] ultrasecreth commented on #60
@michael-camacho No problem, happy to help!

[2018-12-01 00:27] githorse opened #65 "can't create mock"
Stuck here right out of the gate (using `4.1.0`):

[code]

This compiles, but I get an exception when I run the spec:

[code]

[2018-12-01 10:53] ultrasecreth commented on #65
@githorse It seems to me you are pulling an older version of mockito alongside mockito-scala, could you please check that mockito-scala is the only mockito dependency that you have?
If that's already the case, try to get a dependency tree and check if maybe some other library is also bringing mockito.

For reference, mockito-scala already pulls the required version of mockito `"org.mockito" % "moc

[2018-12-03 13:02] githorse commented on #65
@bbonanno - That's it! I removed my competing `mockito` dependency and all works as advertised. Much obliged :)

[2018-12-03 13:02] #65 closed, assigned to nobody

[2018-12-03 14:58] ultrasecreth commented on #65
@githorse glad to help :)

[2018-12-04 22:48] kflorence commented on #57
Hey, sorry for the slowness in response. I've noticed there are several other matchers that also have this problem, so I suppose resorting to `succeed` will work for now. It's unfortunate that it's necessary, but it's an easy workaround. Thanks for adding Scala support. I've been looking forward to it for a very long time.

[2018-12-05 17:43] ultrasecreth commented on #57
@kflorence Yeah I know, but the fact that Scalatest didn't provide any implicit coversion out of the box and encourage you to use `succeed`  is a hint that you could end up with weird and unexpected errors if some magic conversion (that the user is not aware of) was provided...

But nothing stops you defining it (as @jozic suggested)
[code]
Do that in a common trait and problem solved

[2018-12-17 04:54] RawToast opened #66 "Macro expansion failure with HigherKinds"
I use helpers in my tests to keep things clean such as:

[code]

This worked fine from `0.4.4` (obviously without the delegate call) to `1.0.2`. However upon upgrading to any version past `1.0.3` my tests now fail to compile:

[code]

Currently I have to work around this with the following method, which allows me to use `1.0.5`, but I lost any benefits of using the `ScalaOngoingStubbing`

[code]
I

[2018-12-17 18:37] #66 closed, assigned to nobody

[2018-12-17 18:40] ultrasecreth commented on #66
@RawToast Thanks for reporting this, v1.0.6 should fix it, please let me know otherwise

Regarding the dead code errors, I don't have the flag enabled as most of the code throws it so it's too much noise for me, but I can take a look as in theory it shouldn't happen if you specify the types, could you please create a separate issue with a full example that I can copy and paste to reproduce the pro

[2018-12-18 00:50] RawToast commented on #66
@bbonanno Thanks, that fixed my issue and I no-longer need to use `delegate`. This is the structure I've been using, which works beautifully now 😄I'll extract a full example when I get time and see if the dead-code error is something more specific:

[code]

[2018-12-18 09:25] ultrasecreth commented on #66
@RawToast I'm glad it worked!

That syntax looks interesting, could you post an example of a test using it? I wanna see if it could be worth to incorportate it (or part of it) directly into the library

Some questions in the meantime

is `My.Id` a value class?
why are you mocking an algebra? and wy it's implicit?
how do you define the Applicative in the test?

Cheers

[2018-12-18 10:06] RawToast commented on #66
`My.Id` is a value class.

We mock an algebra to test some steps in a process that uses multiple algebras. So depending on the response from an algebra's method, we may have two do something different -- or short circuit. Mockito is used for verification -- but it could definitely be done differently 😄

The applicative is just brought in from Cats within the test.

It's implicit to make life easie

[2018-12-18 11:33] ultrasecreth commented on #66
@RawToast I see, I got confused cause in my understanding, an algebra is a group of case classes and/or instances of sealed traits, which don't make a great candidate for mocking, but in your case, you're mocking services, which is what mocks are for :)

I'll have a look to see if this could be built in a more generic way, as here everything but the `Either` seems configurable

[2019-01-04 00:44] githorse opened #69 "Match failure with varargs and multiple parameter lists"
Mocking with varargs works as expected:

[code]
So does mocking with a second parameter list:

[code]

But I can't seem to combine varargs with a second parameter list:

[code]

Instead, I get a match failure:

[code]

Is there some way to match varargs in the first parameter list while ignoring the second parameter list?

[2019-01-04 10:02] ultrasecreth commented on #69
@githorse thanks for reporting this, the issue is that the `eqTo()` matcher is not playing well with varargs, is not a quick fix as many things have to be considered, but in the meantime, you can overcome it by not mixing matchers with raw values (the raw values will be wrapped by an eqTo by the macro).
If you need to match them, you can use `argThat` or `argMatching` for the time being to create

[2019-01-04 16:12] githorse commented on #69
@bbonanno - Thanks for your prompt response! In my use case it's difficult to dispense with matching the raw values in the first parameter, so I'm hoping for a workaround here. I tried the `argThat` and `argMatching` but could not make that work:

[code]

Am I using these correctly?

I'm still seeing match failures:

[code]

[2019-01-04 16:13] githorse commented on #69
Sorry, closed in error.

[2019-01-04 16:32] ultrasecreth commented on #69
It's a vararg, so what you want is to match for `WrappedArray(cow)`

The PR is almost ready anyway, so if it's not urgent you should have the working version later today

[2019-01-04 17:02] githorse commented on #69
Ah, cool. Thanks. Yeah, I guess for the price you're charging I can probably wait a couple more hours :)

[2019-01-04 18:58] #69 closed, assigned to nobody

[2019-01-14 12:51] Krever opened #71 "Not able to use mock[] with type constructors"
I tried to use `IdiomaticMockitoFixture` with `monix.eval.Task` which resulted in ClassCastException

Here is a minimized example:
File1.scala:
[code]
Result:
[code]

If I make `Algebra` not parametrized or use `Mockito.mock`.  My blind guess is that it has something to do with proxies used for smart null pointers.

[2019-01-14 16:20] ultrasecreth commented on #71
Ok, I can see the problem, what I don't understand is that if you can't do `mock[Algebra[Baz]]` because it doesn't work or because you want to use an existent type that already extends `Algebra[T]`

For the problem itself, it seems that the reflection API doesn't provide out of the box generic return types, I'm looking for a way to fix it (but I don't have high hopes)

In the meantime, to solve yo

[2019-01-14 18:09] Krever commented on #71
I create proxy trait `TestAlgebra` because mocking `Algebra[Baz]` directly doesn't work. If I remember correctly that's because there is no TypeTag available.

Thanks for the solutions! I don't fully understand a) (but I would love to!) but b) sounds good, wish I could come up with this myself.

[2019-01-14 18:11] ultrasecreth commented on #71
@Krever I tried `mock[Algebra[Baz]]` and it works without any problem, I can only observe the `ClassCastException` when I use the `TestAlgebra`

Is the type you're trying to mock a Monix one or it's part of your app?

[2019-01-14 18:26] Krever commented on #71
I believe I had this problem with Monix one. I can reproduce this tomorrow. The only difference I can recall now is that originally my algebra looked like this:
[code]

So it was parametrized by the type constructor, not type itself. If this works as well I will try that tomorrow and let you know what was the exact problem.

[2019-01-14 21:59] #71 closed, assigned to nobody

[2019-02-01 19:31] mesut opened #74 "Verification on mock object not respect to test case"
Problem:

Let's say we have two different service

[code]
I write two test method and try to verify methodB called or not. When I run two test cases separately, tests pass. When I run all test methods, verification gives wrong result for second test.
In test class context, mockito-verification records all calls on mock object. I think mockito-scala should reset verification counts on mock objects

[2019-02-01 22:53] ultrasecreth commented on #74
That's rather an issue related to how Scalatest works compared to JUnit, in JUnit the runner will create an instance of the test class for every test, while Scalatest creates just one and re-uses it for every test, so if you have any kind of mutable object declared at the class level you're re-using them in each test.

The standard way to solve it is to use an inner trait, thus re-writing your tes

[2019-02-02 10:07] mesut commented on #74
Thank you very much!

[2019-02-02 10:07] #74 closed, assigned to nobody

[2019-02-03 19:07] klaeufer opened #75 "Spying on nongeneric subtype of generic type in Scala results in NPE when value type is used as actual type parameter"
# Summary

Duplicate of https://github.com/mockito/mockito/issues/1605

This simple example produces a NPE on Linux (but apparently not on Mac OS). The key ingredients seem to be:

- SUT is a nongeneric implementation of a generic type (trait or class)
- actual type parameter is a value type
- method to be verified through spy returns that value type

[code]

The error goes away when replacing `In

[2019-02-04 23:10] #75 closed, assigned to nobody

[2019-02-22 15:43] arulnambi opened #81 "Mocktio sugar failing to create mock for restclient"
Hi,
I am trying to mock a library called restclient. When I try to use the mocktio sugar syntax mock(RestClient), the test fails with the following message

[ERROR] C:\work\aeegerrit\artisan\src\test\scala\org\onap\aai\mosaic\query\QueryTest.scala:20: error: class org.onap.aai.restclient.client.RestClient is not a value
[ERROR]   val stubbedRestClient: RestClient = mock(RestClient)

After going th

[2019-02-22 17:15] ultrasecreth commented on #81
You have to use square brackets when you specify a type in Scala, so `mock[RestClient]` rather than `mock(RestClient)`

[2019-02-22 17:31] arulnambi commented on #81
Thanks for the quick response. I did try that as well, that is where I got the
[ERROR] initializationError(org.onap.aai.mosaic.query.QueryTest)  Time elapsed: 0.006 s  <<< ERROR!
scala.reflect.internal.Symbols$CyclicReference: illegal cyclic reference involving class WebResource
        at org.onap.aai.mosaic.query.QueryTest.<init>(QueryTest.scala:20)
That is why I was able to use the workaround y

[2019-02-22 20:04] ultrasecreth commented on #81
@arulnambi Ok, I need to test it with that specific class to reproduce, but I can't find any artifact in maven nor I can build the clone of that repo you mentioned as it requires other dependencies from the same org, can you provide a nexus (or anything like that) link so I can add the lib to my project and try to write a test that mocks that class?

[2019-02-22 20:46] ultrasecreth commented on #81
@arulnambi I managed to get the library from https://nexus.onap.org/content/groups/public/

I've used `"org.onap.aai"     % "rest-client" % "1.4.0"`

I've written the following test and it works in all 3 major versions of scala

[code]

Now, looking again at the error, it says that the problem is the class `WebResource` in org.onap.aai.mosaic.query.QueryTest.(QueryTest.scala:20)

I don't see that

[2019-02-24 13:14] arulnambi commented on #81
Yes that is the right library.
I am not sure then why I see that error. I am using mvn and spring boot for my project can that be a cause?
Here is the full stack trace when I run mvn test witn X falg
[ERROR] Tests run: 1, Failures: 0, Errors: 1, Skipped: 0, Time elapsed: 1.295 s <<< FAILURE! - in org.onap.aai.mosaic.query.QueryTest
[ERROR] initializationError(org.onap.aai.mosaic.query.QueryTest)

[2019-02-25 10:02] ultrasecreth commented on #81
Hmm, it seems to be related to a Scala compiler bug, let's try to disect it, can you, in a blank class, execute something like this and see if you get a valid `WeakTypeTag`?

[code]

[2019-02-25 16:53] arulnambi commented on #81
Hi Bruno,
I was able create the stub by using weakTypeOf.
I tried passed the stubbed val for creating another object.
which takes in the restclient as a parameter in its constructor
val query = new Query(stubbedRestClient)

And this is what I got

[DEBUG] plugin jar to add :C:\Users\arulna\.m2\repository\net\alchim31\maven\scala-maven-plugin\3.2.0\scala-maven-plugin-3.2.0.jar
[DEBUG] cmd:  C:\Prog

[2019-02-25 17:27] ultrasecreth commented on #81
`weakTypeOf` does not create a mock, is a call to the Scala reflection API, so those errors make sense
could you try the same but with `typeOf` instead of `weakTypeOf`? (I'm trying to find out if it is an issue on how the library does reflection or just a plain compiler bug)

I'm running out of options without being able to reproduce the issue, but, given that the class you are trying to mock is a

[2019-02-26 20:08] ultrasecreth commented on #81
@arulnambi Please try version 1.1.5 (it should be available in maven central any time now), it may fix your issue

[2019-03-11 17:47] estebanbolanos opened #86 "Return different values when using "willBe returned by""
I am just learning mockito-scala, and I am trying to apply the [idiomatic style](https://github.com/mockito/mockito-scala#idiomatic-mockito) guided by the project documentation.

For some tests, I need to make a _spy_ return different values for each invocation, in order to verify that a retry mechanism is working (i.e., I want to verify that my application will keep trying until an "OK" response

[2019-03-11 18:11] ultrasecreth commented on #86
Hi @estebanbolanos
Thanks for the heads up, you are correct, the syntax does not support that, the reason being it's quite tricky to do so and usually in Scala you want referential transparency, so the same function should always return the same result for the same input, but it seems that yours is a valid use case, I'll add the note in the docs.

To solve your issue you currently have 2 options
-

[2019-03-11 21:41] ultrasecreth commented on #86
Documentation updated.

[2019-03-11 21:41] #86 closed, assigned to nobody

[2019-03-28 21:35] ultrasecreth commented on #81
@arulnambi can we close this issue?

[2019-03-29 13:20] arulnambi commented on #81
Yes let us close it please.
thanks a lot for your support and help.
regards
Arul

On Thu, Mar 28, 2019 at 5:35 PM Bruno Bonanno <notifications@github.com>
wrote:

[2019-04-01 13:42] ultrasecreth commented on #81
@arulnambi no problem!

[2019-04-01 13:42] #81 closed, assigned to nobody

[2019-04-03 09:20] sohoffice opened #89 "Can not capture argument with ArgCaptor[Any]"
With the following version:

- mockito-scala: v1.2.4
- mockito: 2.24.0
- Scala: 2.12.4

An `ArgCaptor[Any]` fails to capture, but `ArgumentCaptor.forClass[Any, Any](classOf[Any])` is fine.

The below fails at runtime:

[code]

#### Details

The method signature of scheduleOnce as the below.
There're override variances, but this is the one with correct argument count and type.
The source code of th

[2019-04-03 09:50] ultrasecreth commented on #89
@sohoffice Can you post the signature of `scheduleOnce` please

[2019-04-03 09:56] sohoffice commented on #89
@bbonanno I've updated the issue description to add the signature and the link to the source code of that method on github (if you need to cross check the other variances of this method)

[2019-04-03 10:42] ultrasecreth commented on #89
@sohoffice The problem here is related to the fact that `sheduleOnce` has `Any` as the argument type that you want to capture, so the `implicit` conversion that automatically does the capture
[code]
is not called as the compiler finds no need to convert `Captor[Any]` into `Any`, as it is already an instance of `Any`, given that `Any` is the parent of every type in Scala. Because of that, the type

[2019-04-03 10:49] ultrasecreth commented on #89
@sohoffice and BTW, to avoid future problems, remove any mockito dependency that is not mockito-scala

[2019-04-03 12:15] ultrasecreth commented on #89
And as final suggestion (after updating to v1.2.5), I'd re-write that code to use the idiomatic syntax so it's less boilerplatish and easier to read

[code]

[2019-04-03 12:15] #89 closed, assigned to nobody

[2019-04-03 16:16] sohoffice commented on #89
Thanks for this. Upgraded to 1.2.5, all is well.

Looks like I'll need to remember to use capture when I want an Any value captured, or perhaps I'll always call capture ? This matches the behavior of mockito, perhaps not all that bad IMHO.

I love how a tiny * can replace the any[ReallyLongType] call. I'm at the moment very struggling on whether to switch to the idiomatic syntax. I usually would p

[2019-04-03 18:30] gursahibsahni opened #91 "Constructor Injected Class Instance Variable Loses Mocking doThrow or doReturn Doesn't work"
I have a spring boot application and am using MockitoSugar to write tests.
Spring boot version: 2.0.5.RELEASE
Scala version: 2.11.8
mockito-scala_2.11: 1.2.4

Injecting mock in constructor:

     val headerParamsResolverMock = mock[HeaderParamsResolver]
     val irsArgumentResolver = new IRSArgumentResolver(headerParamsResolverMock)

Test Case:

    "resolverArgument" should "invoke resolve method

[2019-04-03 18:55] ultrasecreth commented on #89
@sohoffice Yes, the ability to mix matchers and raw arguments only works when using the idiomatic syntax.

Glad to hear you like it!

[2019-04-03 19:05] ultrasecreth commented on #91
@gursahibsahni Hi there, 2 things

1. Could you create a tiny GitHub project so I can clone and reproduce the issue?
2. Looking at your StackTrace and code it seems to me you are not using anything from mockito-scala (you are using `MockitoSugar` from Scalatest and the `Mockito` object from the core Java lib), would you mind switching to it and try? your issue may be one of the many already solved

[2019-04-03 20:00] gursahibsahni commented on #91
@bbonanno sorry about the confusion.

I have replaced `MockitoSugar` of `Scalatest` to `Mockito` lib. Also, I have created a GIT repo here: https://github.com/gursahibsahni/debug-mockito-scala

The exception has changed and its a missing dependency

`*** RUN ABORTED ***
  java.lang.NoClassDefFoundError: org/mockito/internal/invocation/InterceptedInvocation
  at org.mockito.internal.handler.ScalaMo

[2019-04-03 21:37] ultrasecreth commented on #91
@gursahibsahni There are quite a few things wrong with this, let's separate them in 2

1. The project you uploaded to GitHub fails because maven resolves the wrong artifacts all around, similar to [this](https://github.com/mockito/mockito/issues/1606) bug, I had to manually add mockito-core and bytebuddy to make it run.

[code]

2. The test you wrote has some issues

- The cause of the exception y

[2019-04-04 01:27] gursahibsahni commented on #91
@bbonanno big thanks for addressing all the points. Especially the incorrect maven resolver.

All looks good and it feels so good writing verbose but less code for unit tests.
One thing I would bring up is that the `shouldBe` matcher is not implicit from the docs that its inherited from `org.scalatest.Matchers`. If you would like to have it on the README.md section of it, I can update it. Let me k

[2019-04-04 01:27] #91 closed, assigned to nobody

[2019-04-04 08:22] ultrasecreth commented on #91
@gursahibsahni No problem

You mean the examples in the tests that use `shouldBe`?
If that I thought it was pretty obvious as most of the examples are written in Scalatest, but yeah, it would be nicer to actually use something agnostic of the test framework (as I'm soon adding support for Specs2), if you fancy raise a pull request on that

[2019-04-04 15:49] gursahibsahni commented on #91
@bbonanno I tried to raise a PR against release/1.x but I was denied permission to push. I couldn't find the contribution guidelines I can refer to.

[2019-04-04 16:12] ultrasecreth commented on #91
@gursahibsahni Is the standard flow, you have to fork the repo, push into that fork and raise a pull request from there to this repo.

[2019-04-04 16:14] gursahibsahni commented on #91
thanks for the instructions

[2019-04-11 20:33] gslowikowski opened #95 "Problem with Scala 2.13.0-RC1"
I found very strange problem with Scala `2.13.0-RC1`. Simple mocking code, that works with all previous versions, fails with this version.

Check the example project https://github.com/gslowikowski/mockito-scala-2.13.0-RC1-problem

It fails with the same error with Scalatest `3.0.8-RC2` and `org.scalatestplus.mockito.MockitoSugar` class.

[2019-04-12 09:01] ultrasecreth commented on #95
@gslowikowski Interesting, I'll take a look over the weekend

[2019-04-13 15:46] ultrasecreth commented on #95
@gslowikowski it seems to be a problem with the compiler not handling final methods correctly, I've reported it [here](https://github.com/scala/bug/issues/11485).

In the meantime, you can use inline-mocking as a workaround.

inline-mocking uses a different stubber that allows to mock final methods and classes, but is still not the default in Mockito as it doesn't support 100% of the use cases and

[2019-04-13 17:20] gslowikowski commented on #95
Thank you @bbonanno

[2019-04-15 09:26] ultrasecreth commented on #95
Update: PR that should fix this issue [here](https://github.com/scala/scala/pull/7980)

[2019-04-15 12:53] smarter commented on #95
To try this PR, you can set `scalaVersion := 2.13.0-pre-02f59fb-SNAPSHOT` after adding to your build:
[code]
Would be interested in knowing if everything works with that.

[2019-04-15 18:45] ultrasecreth commented on #95
@smarter It was a wise call, it works for the simple example in the PR, but it doesn't in a more complex scenario, I couldn't figure out what type of hierarchy creates it, but if you run

[code]

it yields `true`, which causes everything to blow up

[2019-04-16 08:31] smarter commented on #95
@bbonanno Once a version of the scala-library compiled with the fixed scala-compiler is published, this should fix itself.

[2019-04-16 09:02] ultrasecreth commented on #95
@smarter Fair enough, I'll give it a go as son as RC2 is released

Thanks for your help!

[2019-04-16 11:54] smarter commented on #95
The following should work:
[code]
[code]

[2019-04-16 13:53] ultrasecreth commented on #95
@smarter it works as expected

Thanks!

[2019-04-18 15:27] xysun opened #98 "Publish stable version for mockito-scala-scalatest to maven central"
Currently in maven central there's only 1.4.0 beta versions ([link](https://search.maven.org/search?q=g:org.mockito%20AND%20a:mockito-scala-scalatest_2.12&core=gav)). Any chance to publish a stable version there?

Thanks.

[2019-04-18 16:21] ultrasecreth commented on #98
@xysun The problem is that I need to keep the versions in-line and the specs2 module is a proper beta, core and scalatest are not, but can't have different versions sadly (due to the release tool we use and stuff).
Feel free to treat them as final and use them for the time being, I'll try to get feedback on the specs2 module and publish the final versions of everything as soon as I can

[2019-04-24 21:43] pettercastro opened #101 "Difference between ShouldReturn and WillBe returned by"
When stubbing I always use willBe, however now that I need to chain calls, I see that does not exist in the `willBe` but just in the `shouldReturn` option. I wonder what is the difference between both? Because `shouldReturn` sounds more like an assertion instead of a stubbing

[2019-04-24 22:04] ultrasecreth commented on #101
The main difference is that `willBe` stubs the method before calling it, so it works better when using spies or strict mode.

I personally prefer the `shouldReturn` syntax, but I guess it's a matter of taste.

I'm not really sure that `shouldReturn` sounds like an assertion but since version 1.4.0 you can use `shouldReturn`, `mustReturn` and `returns` interchangeably, does any of those options sou

[2019-04-25 12:36] Krever opened #102 "stubbing real object is silently ignored"
Following code throws a nice exception as expected:
[code]
But if we add at least one successfully created mock at the beginning it runs ok:
[code]
It was extremely hard to identify the problem and minimize :D

[2019-04-25 13:23] ultrasecreth commented on #102
Interesting, does the same happen with the old syntax?

[2019-04-25 15:37] ultrasecreth commented on #102
Ok, the issue there is that the line `y.toString` is the one being stubbed. If you add `println(y.toString)` at the end of the test it will print `XXXX`.

so if you remove `y.toString` you'll get the exception you're looking for ;)

[2019-04-26 05:09] Krever commented on #102
I does indeed! Do you know why this happens? Very peculiar behavior IMHO.

[2019-04-26 08:16] ultrasecreth commented on #102
The thing is that mockito mainly works by using (abusing (?)) the substitution model.
In this case this means that it relies on the fact that whatever you pass to the `when` method will be called before the `when` method itself, but mockito doesn't actually know what has been executed, instead, each mock records the calls it has received and when the `when` method is called it checks if some mock

[2019-04-26 08:19] Krever commented on #102
It makes sense now! Do you see some way to protect against this "feature" of mockito in mockito-scala?
Maybe we could add a check somehwere before calling Mockito.

[2019-04-26 08:50] ultrasecreth commented on #102
Sadly I don't think we have more tools in Scala than in Java to help us to prevent this kinda things.
I've been thinking for a while to see if I can make the API a bit more type safe, but so far I haven't found anything that works in all scenarios and doesn't add extra complexity.
But be sure if I can think of something I'll do it!

[2019-04-26 13:31] bjornbak opened #103 "Serialization of specs2 mocks"
I want to use a mock in a Spark Spec but suffered from the same NotSerializableException: org.mockito.internal.creation.DelegatingMethod.

I am trying to follow your guidance in the QA https://stackoverflow.com/questions/53820877/spark-scala-mocking-task-not-serializable

I have switched to mockito-scala and have the following skeleton:

import org.mockito.Mockito
import org.mockito.specs2.{Mockit

[2019-04-26 13:36] bjornbak commented on #103
If add an $creation6 to org.mockito.specs2.MockitoScalaSpec
[code]
I get
[code]

Please advise on how to workaround these serialization issues.

[2019-04-26 17:51] ultrasecreth commented on #103
@bjornbak Let me have a look, there are many more objects participating in the mock creation/usage now, so I may have to make some changes.

I was able to reproduce your second example, could you please post a more complete piece of code for the first one?

Thanks!

[2019-04-27 21:16] ultrasecreth commented on #103
@bjornbak please give it a go with beta.7 and tell me how it went

[2019-04-28 05:48] bjornbak commented on #103
You don't test the new creation6:
[code]
If change to $creation6 I get
[code]

My code still fails with the same NotSerializableException.
I haven't been able to reproduce the exception in neutral code (still working at it) but in the meantime I can share you the neutral part of the stacktrace. Maybe you can make something of that:
[code]

The . . is our internal code which redacted but from prese

[2019-04-28 06:51] ultrasecreth commented on #103
Good catch, I just pushed a fix for that test

Regarding your exception, the class that’s failing to be serialised is only part of the stubbing dsl and not used inside the mock.
My guess is that you’re either serialising the mock before the answer stubbing is complete (are you using answers anywhere?), or you’re serialising the whole spec rather than just the mock. Could it be it?

[2019-04-28 19:15] ultrasecreth commented on #103
Actually it says that here, any reason why you need to serialise the whole spec?

[code]

[2019-05-01 08:35] ultrasecreth commented on #103
@bjornbak Did you manage to try to see why the spec is being serialised rather than the mock?

[2019-05-08 08:10] Krever opened #106 "ReturnsSmartNulls returns empty string for `String` return type"
When you mock method returning `String` and doesnt stub it, then you get empty stirng instead of null.
Example:
[code]
this prints:

Its unsafe because one can forget about stubbing when not using `MockitoFixture` + its irregular.

[2019-05-08 08:23] ultrasecreth commented on #106
That's how SmartNulls work in mockito-core, Strings and some other common Java data types are returned as empty. I agree it can be tricky, but getting a NullPointerException also is. I don't think there is a right answer here (at least not until inline-mocking becomes the default so we can mock final classes)

[2019-05-08 08:27] Krever commented on #106
Ok, makes sense. I don't expect `NullPointerException` but rather smart null with `toString` defined as `"null"`.  But if its mockito-core thing than probably we cant do much. Thanks.

[2019-05-08 11:14] ultrasecreth commented on #106
It could be changed, but the problem is that `String` is a final class, so you can't return a SmartNull, so it is either `""` or `null`

[2019-05-08 12:20] #106 closed, assigned to nobody

[2019-05-09 09:02] rickyson96 opened #108 "Strict Stub with AsyncIdiomaticMockito"
I want to create a unit test to test futures using AsyncWordSpec. I want to use Strict Stub method to reduce mocking boilerplate, following this example [here](https://github.com/mockito/mockito-scala#strict-mode). But I found that it is only available when using WordSpec. Is there anyway to do this asynchronously?

[2019-05-09 09:11] rickyson96 commented on #108
This code works well
[code]
But this code doesn't work:
[code]
The async code produces following error
[code]

[2019-05-09 18:41] ultrasecreth commented on #108
Hi there,

When you use a common `trait` for the test setup, said trait must extend `org.scalatest.FixtureContext`, otherwise you'll get that compile error.

That's a Scalatest requirement completely unrelated to mockito btw.

Also, the best place to find examples are the tests of mockito-scala, each implemented feature has one or more tests to prove they work ;)

[2019-05-10 04:14] rickyson96 commented on #108
I see. I know that it is from scalatest though but doesn't find the solution before.

So the said code will be like this (putting it here in case anyone face issue like this)
[code]

I see, next time will read through those test for references :D

Thank you and kudos @bbonanno for this and the whole project. A great project for testing in scala! :+1:

[2019-05-10 10:12] rickyson96 commented on #108
Hi @bbonanno, I encountered some problem though
[code]
I took those test from your spec and do some modification, but if I do it like the code above, it will produce false positive and the test will not fail. Did I miss something here?

[2019-05-10 11:05] ultrasecreth commented on #108
Good catch, I was actually wrong, you can't use a Setup trait (or fixture-pattern, as it is known in the scalatest doc) with `AsyncSpecs`.

I'll update the tests to reflect that, but in the meantime have a look at this [stackoverflow answer](https://stackoverflow.com/questions/46801118/how-to-use-fixture-context-objects-with-async-specs-in-scalatest)

[2019-05-12 18:54] ultrasecreth commented on #108
I've updated the test to properly use the Setup trait.
Is not the only way to do so, but I've chosen it as it let you access all the `val`s and `def`s in the `trait` with little boilerplate.

[code]

[2019-05-12 18:54] #108 closed, assigned to nobody

[2019-05-13 09:09] ultrasecreth commented on #98
v 1.4.1 published!

[2019-05-13 09:09] #98 closed, assigned to nobody

[2019-05-13 09:09] #101 closed, assigned to nobody

[2019-05-13 09:09] #102 closed, assigned to nobody

[2019-05-13 09:10] #103 closed, assigned to nobody

[2019-05-14 03:38] rickyson96 commented on #108
I see, that would do the trick. Thank you!

[2019-05-20 13:31] LeonardMeyer commented on #29
I have the same problem in 1.4.3 in 2.11. This prevents me from using the lib.

[2019-05-20 13:37] Krever commented on #29
@LeonardMeyer for me it was always good enough to remove `-Ywarn-dead-code` in tests or alternatively use the silencer compiler plugin. Is there anything that makes those solution unusable in your case?

[2019-05-20 13:47] ultrasecreth commented on #29
@LeonardMeyer if you specify the type to the Any matcher (or add -Ywarn-dead-code just for the test code) that problem goes away.
Scalac doesn't have type inference on parameters, so I'm afraid there is no way to solve this. My preferred choice is to disable that warning for test code as I prefer the clean API without the types for the any matchers, but if you don't mind that you can add said type

[2019-05-20 13:54] LeonardMeyer commented on #29
@bbonanno Thanks, I can live with the types.

[2019-05-20 14:17] ultrasecreth commented on #29
@LeonardMeyer welcome to the userbase then :)

[2019-05-22 06:06] erikvanoosten commented on #95
2.13.0-RC2 is already out :)

[2019-05-22 08:24] ultrasecreth commented on #95
@erikvanoosten Yes!, but I have to wait for my depencencies to be released compiled for RC2 (so far cats-core is the missing one).
I'll release a version supporting RC2 as soon as all my dependencies do :)

[2019-05-28 14:33] magnolia-k commented on #95
cats-core 2.0.0-M2 for Scala 2.13.0-RC2 is released!

https://search.maven.org/artifact/org.typelevel/cats-core_2.13.0-RC2/2.0.0-M2/jar

[2019-05-29 19:09] ultrasecreth commented on #95
Fixed by #112

[2019-05-29 19:09] #95 closed, assigned to nobody

[2019-06-06 10:12] umbreak opened #117 "Malformed class name"
When using a case class or case object in the following way
[code]
It crashes when the underlying JVM selected is java-8

with the following stack trace

[code]

Changing it to something like this works
[code]

You can reproduce it with the following example: https://gist.github.com/umbreak/6c2adaeb67c6488cc7f2438f9459af6f

[2019-06-06 10:20] umbreak commented on #117
I don't have the same issue with Java 10

[2019-06-06 11:20] ultrasecreth commented on #117
@umbreak Interesting, I'll take a look, thanks for the detailed explanation!

[2019-06-06 20:28] ultrasecreth commented on #117
So, it seems to be a bug in how the Scala compiler names the classes, if you just do
[code]
it will throw the same exception.
This is due to the algorithm used by the JVM8, the JLS3 "Binary Compatibility" (13.1) says that inner classes names will be formed by the container class name plus $ plus the inner class name `Parent$Inner`, and so in order to get the `Inner` class name, they remove from th

[2019-06-06 21:04] #117 closed, assigned to nobody

[2019-06-08 14:51] erikvanoosten opened #119 "Release for Scala 2.13.0."
Scala 2.13.0 is out! 🎉

[2019-06-08 16:26] ultrasecreth commented on #119
Yes!
I’m waiting for my 4 dependencies to be out first

[2019-06-11 08:49] ultrasecreth commented on #119
Depends on

- [x] https://github.com/typelevel/cats/issues/2883
- [x] https://github.com/scalatest/scalatest/issues/1601
- [x] https://github.com/scalaz/scalaz/pull/2064
- [x] https://github.com/etorreborre/specs2/pull/746

[2019-06-11 20:49] #119 closed, assigned to nobody

[2019-06-12 13:59] Aghmat-Abrahams-IR opened #122 "`AccessControlException` thrown when using Mockito.spy(...)"
Hi I'm getting the following error message when spying on a `org.apache.spark.streaming.scheduler.StreamingListener`:

[code]

The issue could be solved by adding the following line to your `/Library/Java/JavaVirtualMachines/jdk1.8.0_192.jdk/Contents/Home/jre/lib/security/java.policy` file -> `permission javax.management.MBeanTrustPermission "register";` under the grant section.

I was wondering i

[2019-06-12 14:15] Aghmat-Abrahams-IR commented on #122
A little context. I'm writing an integration test for a Spark streaming job and am using spies to verify if a batch has completed.

I am using `MacOS 10.14.4` and our CI server uses `CentOS Linux release 7.6.1810 (Core)`. This issue occurs under both environments.

I found a single alternative to manually adding the permissions and that is using [securemock](https://github.com/elastic/securemock).

[2019-06-12 16:14] ultrasecreth commented on #122
Hi, that's an interesting one, can you tell me which spark dependencies (and anaything else I need) are you using?

[2019-06-12 16:25] Aghmat-Abrahams-IR commented on #122
Hi, sure mainly kafka010, KuduContext and and KuduClient. Here's a full list of my imports and versions:

[code]

[code]

[2019-06-12 16:26] Aghmat-Abrahams-IR commented on #122
I'll could also simplify + generify the Job and test if it will help since there is some propriety code.

[2019-06-12 16:29] ultrasecreth commented on #122
That would be brilliant, some piece of code I can copy and paste (or a small github repo with a failing test) to easily reproduce the issue would help a lot as I don't know much about Spark

[2019-06-12 16:30] Aghmat-Abrahams-IR commented on #122
Ok cool, will do

[2019-06-13 15:39] nickresnick opened #123 "Mocking any instance of class"
Less of an issue and more of a question: Is it possible to mock any instance of a class, not just a single instance?

Use case here is that I have a class with a `copy` method that creates a new instance of the class with extra members. I want to be able to spy on copied instances that are created inside of various functions.

[2019-06-13 15:42] Krever commented on #123
I don't know of any out of the box solution, but could you delegate/override/mock the copy method to produce spies/mocks?

[2019-06-13 15:52] nickresnick commented on #123
Yeah that's what i was thinking. I'll give it a shot, thanks.

[2019-06-14 12:24] ultrasecreth commented on #123
Why would you be mocking data in the first place?

[2019-06-19 11:03] Aghmat-Abrahams-IR commented on #122
Have been a bit preoccupied, will try to get sample code done by the end of the week

[2019-06-19 11:05] ultrasecreth commented on #122
No worries, after thinking about it I think the best option is a github repo that reproduces the issue so we're sure that libs and dependencies work as expected

[2019-06-19 11:27] Aghmat-Abrahams-IR commented on #122
👍

[2019-06-26 13:54] Aghmat-Abrahams-IR commented on #122
My bad, turns out it was not Mockito causing the issue. A custom `SecurityManager` was the root cause, I should have caught it sooner. This issue can be closed.

[2019-06-26 13:54] #122 closed, assigned to nobody

[2019-07-26 19:18] melodious opened #130 "Testing a trait while mocking abstract"
I am trying to test a trait that has concrete and abstract methods. I would like to test the concrete methods and mock the abstract methods. When I do this, I get an exception:

[code]

Here is example code:

[code]
and the test:

[code]

Is there any way to get this working? Thanks!

[2019-07-29 08:16] ultrasecreth commented on #130
Hi @melodious, I just ran that code and it works (after I fixed the compile & syntax errors)
What version of Scala and mockito-scala are you using?
Could you please add the imports to the example?

[2019-07-29 20:35] melodious commented on #130
Thanks for your response, bbonanno. Your questions lead me to figure out what was wrong since it related to my library configuration. I have it working now. Thanks.

[2019-07-29 20:35] #130 closed, assigned to nobody

[2019-08-05 21:22] #123 closed, assigned to nobody

[2019-09-08 02:19] evertones opened #141 "Broken link in documentation"
I found a broken link in the documentation - [main page in GitHub](https://github.com/mockito/mockito-scala/blob/release/1.x/README.md).
It is in the text - *Note: For more examples and use cases than the ones shown below, please refer to the library's tests* - that points to an invalid URL.

Unfortunately, I could not figure out which URL it should be to submit a PR.

Currently it points to [this

[2019-09-08 10:41] ultrasecreth commented on #141
Hi!
Good catch, most of the library tests were moved to the scalatest module as they were scalatest based, but it would be good to also add links to the specs2, cats, and scalaz on each one of their sections.

If you fancy please raise a PR, otherwise I'll do it in a few days.

Thanks!

[2019-09-09 07:56] ultrasecreth commented on #141
Solved by #143

[2019-09-09 07:56] #141 closed, assigned to nobody

[2019-09-14 16:15] einholen opened #145 "Stubbing with reordered named parameters doesn't work and produces a cryptic error"
Hello!

When migrating from older `mockito-core` (1.x) with specs2 wrappers to `mockito-scala`, a few of our existing stubbings failed to compile.

Here's an example that doesn't compile (assuming `org.mockito.scalatest.IdiomaticMockito`). Note that in the stubbing, `defaultParam2` and `defaultParam1` are used in a different order than in the signature.

[code]

Error message is not helpful at all

[2019-09-15 11:45] ultrasecreth commented on #145
Hi!

Thanks for reporting this, I'll take a look :)

[2019-09-22 18:42] #145 closed, assigned to nobody

[2019-09-27 10:39] vadimbakaev opened #150 "Mocked function doesn't return value class correctly"
Strange behavior when trying to mock a function that should return a value class.

Please see example:

[code]

This test fails with following error or ClassCastException:

[code]

Versions:
[code]

[2019-09-29 09:30] #150 closed, assigned to nobody

[2019-10-04 15:36] ChengGit opened #155 "VerifyMacro.wasMacro picked up test class as mocked object"
Hi guys,

I am running this piece of code and hit a runtime error `<my_test_class_name> is not a mock object`, which seems like implicit conversion and macro somehow picked up my test class as T instead of the mocked object.
would you shed some lights on this scenario?

*stacktrace is here:*
[code]

*And here is the test I am running:*
[code]

[2019-10-04 18:33] ultrasecreth commented on #155
Your verification is wrong, you need to specify what method you expect to be called, something along the lines of
[code]
Also check out the cats module so you can get rid of the Future ;)

[2019-10-07 09:37] ChengGit commented on #155
@bbonanno thanks! I did forget to claim which method to verify! And now it works like a charm!

Hah I love the second piece of suggestion more! yeah I am working on helping team to limit usage reduce hard-coded dependencies, limit usage of mocks down to the edge of our application, and eventually ~hopefully~ moving into mtl style🤣

[2019-10-07 09:38] ChengGit commented on #155
I will close this ticket, thanks for your help!

[2019-10-07 09:38] #155 closed, assigned to nobody

[2019-10-13 10:44] evertones opened #159 "Getting `ClassCastException: scala.collection.immutable` when calling `willAnswer()`"
I've upgraded Mockito version in a Scala project from 1.10.19 to 3.0.0.
Initially I did it with the standard version of Mockito, but after some time struggling with the error I tried `mockito-scala` (version `1.5.18`).
After fixing all the compilation errors, imports and broken tests, I'm still stuck with a test that customises an `Answer` for a method that receives a function by parameter.

This

[2019-10-13 13:17] ultrasecreth commented on #159
I've taken a look at your repo and I have a couple of observations

Let's start with your error, the problem happens due to the JVM type erasure when using generics, your overloaded method `process` relies on `Function0[+R]` and the only difference between the 2 is a different type on `R`, that works in compile time, but on runtime that information is lost, and because you are using the `any()` ma

[2019-10-14 12:26] evertones commented on #159
@bbonanno: Thank you very much for the quick and precise reply.
I'm closing this issue as it's a problem in the code, not a bug in `scala-mockito` or `mockito` itself.

[2019-10-14 12:26] #159 closed, assigned to nobody

[2019-10-28 16:15] mikolak-net opened #168 "Unable to use value classes for `answers` in idiomatic API"
When running the following code on 1.6.2:

[code]

the result is the following:

[code]

It appears the function serving as the mocked method receives an unwrapped value that is then cast into a value class.

The second case might actually be unrelated to this problem (and may be another issue), included nevertheless for completeness' sake.

[2019-10-29 10:16] ultrasecreth commented on #168
That's an interesting one (the first one), I have an idea on what the problem is but will probably take a couple of days to be fixed.
For the second one check https://github.com/mockito/mockito-scala#value-class-matchers

[2019-10-29 12:27] mikolak-net commented on #168
@bbonanno : thanks for the answer! Regarding the second point - ah, completely missed that, sorry. Shall I remove this case from the report, for clarity?

[2019-10-29 14:18] ultrasecreth commented on #168
@mikolak-net That's all right, otherwise I'd also have to change my comment :)
I'll try to fix this value class issue as soon as I can, thanks for reporting it!

[2019-10-29 20:14] einholen opened #169 "MatchError during compilation when stubbing value classes with generics"
Hi Bruno!

Thank you for all your effort on mockito-scala! We've been adopting it with great success... until running into this issue today.

We use value classes like `case class Something[T](value: String) extends AnyVal`, and it's been extremely hard to make them work so far - I either get an NPE, or an "invalid use of matchers" error, or even a `MatchError` _exception_ during compilation!

Hop

[2019-10-29 20:38] einholen commented on #169
So far the only way for me to overcome it was refrain from using idiomatic syntax for stubbing:

[code]

...because if I try wrapping `any` into `TaggedValue` I get "invalid use of argument matchers" because the `returns` macro only supports a predefined set of matchers

[2019-10-29 21:50] #168 closed, assigned to nobody

[2019-10-29 21:50] #169 closed, assigned to nobody

[2019-10-29 21:51] ultrasecreth commented on #168
Version 1.7.0 should solve it!

[2019-10-29 21:51] ultrasecreth commented on #169
Version 1.7.0 should solve it!

[2019-10-30 07:29] mikolak-net commented on #168
That was fast, thanks!

[2019-10-30 12:52] mikolak-net opened #171 "`any` matcher fails to resolve "nested" value classes in 1.7.0"
Sorry for being the bearer of bad news, but there appears to be a regression in 1.7.0 . The `any` matcher (or its underlying macro) is now unable to resolve those stable paths for a value class enclosed in an `object` that are prefixed with identifier of the same enclosing `object`.

Test code:

[code]

Result:

[code]

Not 100% sure if the bug does not affect non-value-classes, but haven't seen s

[2019-11-01 08:15] ultrasecreth commented on #171
Wow, thanks for that, 1.7.1 should fix it

Cheers!

[2019-11-01 08:15] #171 closed, assigned to nobody

[2019-11-19 13:20] Krever opened #175 "Stubbing void methods"
Hey, I just hit the limitation of raw mockito, which doesnt allow stubbing void methods. Example:
[code]
Error:
[code]

Coud mockito-scala intercept such scenario and make it work? `shouldAnswer` works fine, so probably its mechanism could be used with `_ => ()` to simulate raw stubbing.

Alternatively mockito-scala could expose some version of `doNothing` as I believe its not currently available.

[2019-11-19 21:07] ultrasecreth commented on #175
Is this to use with spies? cause a mock would return `Unit` by default in that scenario without the need of stubbing it.

[2019-11-20 10:14] Krever commented on #175
Hmm not at all. I just didnt know about the default and wanted to stub it as everything else. This is some sort of special case? I hoped that the strict verification of stubbings would complain if I stub such `void` method unnecessarily...

[2019-11-21 09:57] ultrasecreth commented on #175
Is not really a special case, any method in a mock will do nothing by default and it will have to return something, if it's a primitive it will be it's default value, otherwise a `SmartNull` (unless it's a final class in which it will have to return `null`). For a `void` method the same principle applies and Scala will give you back the `Unit` instance as a `void` call happened.

I didn't try what

[2019-11-29 08:47] Krever commented on #175
I see! Okey, now its clear that everything is coherent, yet from the user perspective is kind of surprising that `Unit`-returning method cannot be stubbed and the fact that it will work out of the box is also quite unexpected.

The case here is that `void` or `Unit` being a primitive has this default mockito behaviour, yet at the same time `Unit` has exactly one value so it makes it quite bugprone

[2019-12-01 11:45] ultrasecreth commented on #175
The thing is that stubbing a `Unit` method only makes sense if you wanna make it throw an exception, otherwise the only thing you want out of it is to verify it was called as you mentioned. Stubbing it with a `Unit` value to leverage on the strict mode could be done, but it feels quite hacky, the point of strict mode is to avoid repeating yourself (verifying what you stubbed), not remove 100% of t

[2019-12-01 12:34] Krever commented on #175
For me the point of using strict mode is to ensure no calls go unnoticed. yet there is this small corner case that doesn't require stubbing and the whole reasoning is no longer valid. This breaks the whole mental model of tests for me...

[2019-12-01 13:12] ultrasecreth commented on #175
But that would still be the case, if you don't verify the call it will fail right?
If it doesn't fail then that's a bug.

[2019-12-03 10:38] ultrasecreth commented on #175
was thinking, maybe having an idiomatic version of `doNothing().when(mock).someVoidMethod();` would solve your problem?

[2019-12-05 13:53] Krever commented on #175
I checked and you're right, strict mode still does work, which is good.
And yes, idiomatic version of `doNothing` is what I need. So in perfect world I would like to write

[code]

Although, I would probably prefer `.shouldReturnUnit` or `shouldReturn(())` just to have a uniform way of declaring verification via stubbing (even if return value is redundant in this case)

[2019-12-05 21:40] #175 closed, assigned to nobody

[2020-01-07 11:13] gervaisb opened #188 "proposal: Allow partial function to stub `answers`"
At this time, to stub one answer we have to provide a function. But in some cases we have to match on some parameters to compute the answer.

    mocked.doSomething(*, *, *) answers { (s:String, opt:Option[Int], b:Boolean) =>
      opt match {
        case Some(number) if number > 0 => ...
        case None => ...
        case _ => ???
      }
    }

Using a partial function would simplify our cod

[2020-01-07 12:12] ultrasecreth commented on #188
Hi @gervaisb, I had a play with it a while ago and dropped it for some reason I can't remember.
I'll revisit it now I'm (hopefully) wiser and see if I can get it to work this time :)

[2020-01-09 10:21] gervaisb opened #191 "bug: `argMatching` with `answers`"
Hello,

I may use this library in an unexpected way but it seems that `argMatching` is not working in all cases.

I have a `Service` with one method `init` and one `execute(s:State, p:Parameter)`.
 + The `init` method returns the `State` and is mocked
 + The `execute` method is stubbed with `answers`

My test call the `init`method and then `execute` two times and verify that `service.execute(*, ar

[2020-01-09 11:13] ultrasecreth commented on #191
I'll take a look as soon as I can

[2020-01-09 12:35] gervaisb commented on #191
Do you have any estimates ? It is quite blocking for us.

I could create a test double for the service but this is a huge amount of work (we have ~40 "services" with the same pattern).

[2020-01-09 13:56] ultrasecreth commented on #191
ok, this one was easy :)

you got the verification wrong, try with

[code]

in short, the partial function has to match just that argument, for some reason your partial function was looking for a `Tuple3`  (`case (_, _: ExpectedParameterType, _)`)

[2020-01-09 14:08] gervaisb commented on #191
Yes, sorry. This was an issue in my sample. My matching is more complex than that, it is a copy-paste error.

The sample project is passing while my real tests are still failing. However the partial function used in `argMatching` is defined for the receive argument.. If the partial function is defined and executed, how can it fail ?

But because the sample is passing I guess it is an issue on my s

[2020-01-09 16:41] ultrasecreth commented on #191
I'd say test the partial function independently and see if `isDefined()` returns what you expect

[2020-01-10 08:58] gervaisb commented on #191
@bbonanno can we continue this discussion on this StackOverflow thread https://stackoverflow.com/questions/59666468/mockito-scala-verify-method-invocation ?

(And delete this fake Issue)

[2020-01-10 09:47] ultrasecreth commented on #191
@gervaisb  deal

[2020-01-10 09:47] #191 closed, assigned to nobody

[2020-01-17 01:06] ultrasecreth commented on #188
I could get something like this working, sadly the compiler is not smart enough to overload standard functions with partial functions, so the method name has to be different

[code]

[2020-01-19 14:46] #188 closed, assigned to nobody

[2020-02-05 16:46] einholen opened #198 "Proposal: safer expectations in idiomatic syntax"
Hi!

I've grown a bit frustrated by expectations at the end of the line, `methodCall wasCalled once`, because when method signature is long the reader can lose context before they read until `wasCalled once`, and worse, in the case of long signatures, it's so easy to overlook adding (or drop) the verification completely. When verification is missing, the test will happily pass without complaining

[2020-02-05 17:23] ultrasecreth commented on #198
Hey, thanks for the feedback

I think is a valid concern, I'd lean towards a syntax similar to the specs2-mockito, but a bit more fluent if possible (I don't like wrapping the mock and calling the method on the result)

Thing is, it would have to go with a new stubbing syntax, one of the reasons of having the verification in the end is that you can easily copy/paste stbbings and turn them on verif

[2020-02-05 23:16] einholen commented on #198
`IdiomaticSyntax2` sounds good to me 😄

Very good point about the ease of copying mocks to expectations. I guess we could get the best of both worlds by going for something like

[code]

[2020-02-06 09:03] ultrasecreth commented on #198
What about stubbing?

[2020-02-06 17:24] einholen commented on #198
Well, personally I think the way stubbing works now is cool. It's harder to screw up in general because if you lose a postfix for a stub, your test is more likely to fail than if you lose a verification statement

[2020-02-11 18:29] ultrasecreth commented on #198
Ok, we can do verification as a first step.
I'm quite busy at the moment, but will take a look as soon as I finish off some other stuff.

Feel free to raise a PR if you feel like doing it yourself :)

[2020-02-15 20:40] ckorakidis opened #200 "ClassCast exception when working with captor values"
[code]

I get

[code]

[2020-02-15 21:00] ckorakidis commented on #200
My bad, it should be `ArgCaptor[LogicalPlan]`

[2020-02-19 09:33] ultrasecreth commented on #200
@ckorakidis does that mean I can close the issue or the problem is still there?

[2020-02-29 06:37] einholen commented on #198
Okay, I gave it a stab - please take a look when you have time!

[2020-03-16 21:39] #198 closed, assigned to nobody

[2020-03-16 21:42] ultrasecreth commented on #200
Closing down as it has no answers.
For future PRs, please provide examples that doesn't depend on 3rd party libraries like Spark as those are not only hard to reproduce but also hard to add to Mockito's test codebase, a clean piece of code that can be easily run is much better (and sometimes generalising the problem will actually make you solve it :) )

[2020-03-16 21:42] #200 closed, assigned to nobody

[2020-03-16 21:54] ckorakidis commented on #200
Apologies for the delay @bbonanno yes, thanks for replying and closing it. You know some times you investigate some issue for long and try various things and when you run out of ideas and finally decide to ask for help, the next minute you find the solution :)

[2020-03-24 14:33] einholen opened #211 "Usage of scalatest IdiomaticMockito produces "unfinished mocking session" errors"
Hey Bruno!
I'm upgrading mockito-scala in my large project from 1.5.18 to 1.13.0 (and scalatest from 3.0.8 to 3.1.1 which is a big change). Scala 2.13.
All the tests in the project derive from `org.mockito.scalatest.IdiomaticMockito`. After upgrading and fixing all compile errors, when I run all tests, about 700 of them pass, and suddenly, after a certain point, every single test starts failing wi

[2020-03-24 16:57] einholen commented on #211
Ok, further investigation showed that one of the test _suites_ got aborted because of a `StackOverflowError`, and that caused all subsequent `MockitoScalaSession`-based test cases to fail with the error above

[2020-03-24 17:11] einholen opened #212 ""aMock wasNever called" treats mocks defined inside fixture objects as method calls"
We use fixture objects (not traits) and `org.scalatest.fixture._` specs, so mocks are provided into the test like so

[code]

`VerifyMacro` treats `f.service` as a method call, and I get a `NotAMockException`.

I can think of a few ways to solve it:

1. Define a different syntax for verifications on a mock vs a method call. Maybe `aMock wasNever interactedWith`, or even just expose the regular `ve

[2020-03-24 23:02] ultrasecreth commented on #212
What if you add a line at the beggining of the test like `import f.*` or `import f.service`? That would allow the macro to understand what's going on.
I know is not a solution but it should work as a workaround.

I like tha macro idea, we can give it a go!

same for the new syntax, works for me!

Also out of curiosity, is there any reason to favour classes traits?

[2020-03-25 00:30] einholen commented on #212
Nope, importing doesn't help - it desugars right back into `f.service`.

This works but it's too tedious to do everywhere:
[code]
Using `verifyZeroInteractions(f.service)` directly is a sufficient workaround for now.

Well, I think the main reason to use fixture objects was that they allow for fixture cleanup (ie terminate actor system) while keeping the context confined to a single test. The alte

[2020-03-26 14:55] #211 closed, assigned to nobody

[2020-03-26 14:56] ultrasecreth commented on #212
I'll play around with getting the macro to support this, you can play with the Expect DSL as it's your baby ;)

[2020-03-26 15:24] ultrasecreth commented on #212
@einholen could you post a complete example, I came up with this (never used fixtures like this before) and it passes like charm

[code]

[2020-03-26 15:28] einholen commented on #212
Sure!
It doesn't necessarily depend on the spec being a fixture spec - it can be reproduced by using _any_ object to store the mock.

Given the context of `PostfixVerificationsTest.scala`:

[code]

yields

[code]

[2020-03-26 15:36] einholen commented on #212
Ah, I assumed `wasNever called` and `wasNever calledAgain` would behave identically, but just realized there's no `calledAgain` for method calls so in your test case it drops down to `q"$_.VerifyingOps[$_]($obj).wasNever($called)($_)"` and works as intended. But `wasNever called` trips on the match before this one

[2020-03-26 16:00] ultrasecreth commented on #212
Gotcha

[2020-03-26 19:49] #212 closed, assigned to nobody

[2020-04-01 22:09] JLofgren opened #216 "compile failing for wasNever calledAgain syntax in certain cases"
Version observed: Anything post 1.13.1

Problem: In certain cases, a test class fails to compile when using syntax like: `helloServer wasNever calledAgain`. It seems a problem occurs at least when the mock instance is declared at the top level of the test class, but not when it is declared inside an individual test.

Error observed:

[code]

Reproduced here: https://github.com/JLofgren/mockito-sca

[2020-04-02 13:59] stevebakh opened #217 "IdiomaticMockito cannot be used with ResetMocksAfterEachTest"
Hi!

This is almost the same as a previously raised (and fixed) issue: https://github.com/mockito/mockito-scala/issues/32

When mixing in both `IdiomaticMockito` with `ResetMocksAfterEachTest` into a test spec, I get the following error:

 method withFixture in trait ResetMocksAfterEachTest of type (test: BillingSchedulerAgentLiveTest.this.NoArgTest)org.scalatest.Outcome has weaker access privileg

[2020-04-02 14:30] ultrasecreth commented on #217
Hi @stevebakh, would you mind posting a snippet of the code that generates that error, including the test you're trying to write?
This is so I can a)fix the right thing and b) add such test to our codebase so is not an issue ever again

Thanks!

[2020-04-02 14:53] stevebakh commented on #217
Sorry! I should have provided that to begin with, my bad.

[code]

[2020-04-02 14:55] ultrasecreth commented on #216
@JLofgren gotcha, working on it

[2020-04-02 16:08] ultrasecreth commented on #217
It seems to me that you're using the wrong imports, if you use `org.mockito.scalatest.IdiomaticMockito` then you are (by extension) using `org.mockito.scalatest.MockitoSessionFixture` which can't be used in conjuntion with `org.mockito.scalatest.ResetMocksAfterEachTest`, check [here](https://github.com/mockito/mockito-scala#orgmockitointegrationsscalatestresetmocksaftereachtest--orgmockitointegrat

[2020-04-02 16:21] wsargent opened #219 "org.mockito.scalatest.Mockito does not exist"
The documentation says

https://github.com/mockito/mockito-scala/blame/release/1.x/README.md#L250

However, there is no `org.mockito.scalatest.Mockito` in 1.13.1, so it can't be added.

https://github.com/mockito/mockito-scala/tree/release/1.x/scalatest/src/main/scala/org/mockito/scalatest

[2020-04-02 18:52] stevebakh commented on #217
Ah, that wasn't immediately clear, thanks for clarifying.

For reference, yes, the sample code was just meant to demonstrate the compilation failure, but my actual tests were making use of the `ResetMocksAfterEachTest` trait's functionality.

Without having investigated further just yet, using `org.mockito.IdiomaticMockito` breaks my tests (seems the wildcard `*` for `any` doesn't exist here). My

[2020-04-02 19:17] ultrasecreth commented on #217
That's because the scalatest version if `IdiomaticMockito` already mixes in `ArgumentMatchersSugar` for you, the one in the core library doesn't so you have to manually add `with ArgumentMatchersSugar` to get access to `*` and all the other argument matchers.

[2020-04-02 19:19] ultrasecreth commented on #219
Yeah, I thaink that was a renaming that never happened...
`org.mockito.scalatest.IdiomaticMockito` is the trait you should use, `org.mockito.scalatest.Mockito` could be added, but it would just be an alias of `org.mockito.scalatest.IdiomaticMockito`, so not sure if it has any value.

I'm torn in between updating the README to show `org.mockito.scalatest.IdiomaticMockito` or add a simple `org.mocki

[2020-04-02 19:24] #216 closed, assigned to nobody

[2020-04-03 09:56] stevebakh commented on #217
Ok, thanks again, appreciate you taking the time to answer.

[2020-04-03 09:56] #217 closed, assigned to nobody

[2020-04-03 22:35] #219 closed, assigned to ultrasecreth

[2020-04-03 22:36] ultrasecreth commented on #219
README updated

[2020-04-03 23:49] wsargent commented on #219
I'd prefer to just point to IdiomaticMockito rather than add a class.  I don't have an objection to the name.

[2020-04-23 08:11] txsmith opened #226 "Bad type on operand stack"
Hi!

I've hit a problem when running the following:
[code]
Whenever I mock a class with methods that takes an AnyVal like this, i get the following stack trace:
[code]

Specifically, the argument has to be a subclass of AnyVal with a type parameter set to `Int`.

Any help is much appreciated!

[2020-04-24 00:46] ultrasecreth commented on #226
Hi @txsmith, I tried to reproduce the issue by porting your example to our test suite but I can make it fail, would you mind publishing a small GitHub project that reproduces the issue?

Thanks!

[2020-04-24 13:12] danielschleindlsperger opened #227 "Nested mock breaks when called as function in specs2 test"
Hello!

I'm using the Play! framework with specs2 was running into a problem after updating Play! (2.6 -> 2.8), sbt (1.2.8 -> 1.3.8) and Scala (2.12.7 -> 1.13.1).

The Problem is that mocks that should return another mock that was created in a function now longer work when that function was called inline.

This will fail:
[code]

While this will work:
[code]

Complete example spec:

[code]

It fai

[2020-04-24 13:36] ultrasecreth commented on #227
Hi @danielschleindlsperger, we receently made some changes on the macros that may have introduced this issue, I'll take a look to understand why is this happening and hopefully get a fix.

[2020-04-26 15:00] ultrasecreth commented on #227
Hi @danielschleindlsperger, I just found a couple of things

a) you don't seem to be using mockito-scala by the look of your imports ;)
b) what you want to do would work, but only if the function that creates the mock is not also stubbing it, as you can't stub 2 mocks at the same time.

I think that to solve your problem, and even make your tests simpler, you could try DeepStubs, for example, your

[2020-04-27 12:59] danielschleindlsperger commented on #227
Hey @bbonanno

You were right, apparently I'm not using mockito-scala, I'm sorry! 😅 I find the Play! framework and specs2 make it a little opaque which mockito library you actually end up using.

I've resorted to rewriting the tests to not have two nested mocks. That was a little time-consuming but I guess better than including a different version of mockito and rewriting everything.

I tried your

[2020-04-27 12:59] #227 closed, assigned to nobody

[2020-04-28 18:46] YulawOne opened #229 "Mockito generates mock with incorrect subtyping if trait extends abstract class"
Java: 11
Scala: 2.13.1
Mockito: 3.3.3
Mockito Scala: 1.13.10

[code]

fails with:
[code]

[2020-05-02 06:38] erikvanoosten opened #233 "Consider releasing less often"
I deeply appreciate the attention given to this project. Therefor I waited long with this request: can you please consider releasing less often, perhaps at most once a week? Because of scala steward each release causes volunteers doing manual approval actions in many projects.
Many thanks for making my favorite mocking library!

[2020-05-03 00:35] ultrasecreth commented on #229
@YulawOne hmm, it looks like a bug on the Scala compiler, I'll check with them and see if there is a solution for this

[2020-05-03 00:39] ultrasecreth commented on #233
@erikvanoosten that's a good point, a big chunk of my releases are driven by scala-steward too, I guess I can wait and merge them all at once every now and then

Maybe we should request a feature to scala-steward so they also do a single PR with updates every week or whatever? so we all have less load of releases that just upgrade dependencies.

[2020-05-03 17:32] erikvanoosten commented on #233
Hi @bbonanno such a feature already exists! See here: https://github.com/fthomas/scala-steward/blob/master/docs/repo-specific-configuration.md

[2020-05-04 16:55] ultrasecreth commented on #229
As the issue in the scala compiler says, it's a limitation on the Java type system, which is what Mockito uses under the hood, I'll try to see if there is a way to overcome this limitation, but I'm not really sure it will be possible in the short term

[2020-05-04 22:51] #233 closed, assigned to nobody

[2020-05-06 22:32] diegoboston opened #236 "Unable to mock Map[String, String]"
I'm using IdiomaticMockito in my test.

    val mocked = mock[Map[String, String]]
    mocked.apply(*) shouldReturn "123"
    mocked("key") should equal("123")
    mocked.apply(*) wasCalled once

This fails at run-time as shown below. A workaround is:

        abstract class TestMap extends Map[String, String]
        val mocked = mock[TestMap]

Note that the first example works fine with regular

[2020-05-06 23:05] ultrasecreth commented on #236
Interesting, the stack points to the lib I use to get more info about the
generics, I’ll take a look over the weekend!

That said, I’m not sure mocking a Map is something I’d recommend, it’s the
kind of thing that would be better to just use a regular instance, what
would it be the use case here?

On Wed, 6 May 2020 at 19:33, Diego <notifications@github.com> wrote:

--
Sent from my iPhone

[2020-05-07 01:20] diegoboston commented on #236
Thanks. About my use case, I need a mock that returns "123" for every key.

[2020-05-07 01:25] ultrasecreth commented on #236
In that case you can do something like

val x = Map[String, String]().withDefault(“123”)

Don’t have access to my computer right now, but that should do the trick

On Wed, 6 May 2020 at 22:20, Diego <notifications@github.com> wrote:

--
Sent from my iPhone

[2020-05-07 10:40] diegoboston commented on #236
Yes, thanks so much, that would also work. Still, I'm curious to see if you can find the underlying bug. Mockito (Java) seems to be fine with this case.

[2020-05-07 11:20] ultrasecreth commented on #236
Oh yes, I’ll definitely hunt that down

On Thu, 7 May 2020 at 07:41, Diego <notifications@github.com> wrote:

--
Sent from my iPhone

[2020-05-10 16:33] #236 closed, assigned to nobody

[2020-05-11 01:50] diegoboston commented on #236
Wow, thanks for the quick fix!

[2020-05-11 01:57] diegoboston commented on #236
Confirmed that the bug is fixed for me with version 1.14.1. Thanks so much.

[2020-05-11 08:03] ultrasecreth commented on #236
No problem!

Enjoy!

On Mon, 11 May 2020 at 02:57, Diego <notifications@github.com> wrote:

--
Sent from my iPhone

[2020-05-22 11:14] YulawOne commented on #229
I also though it something specific to way how traits are compiled. I have found workaround in my codebase, but will be great if this issue could be solved in future

[2020-05-22 18:41] gabrbuiv opened #242 "Unable to match part of the argument"
[code]

[code]

I'm struggling to understand how to use the mix and match concept. Is it even possible to match arguments in the object that is passed to a method?

[2020-05-22 18:49] ultrasecreth commented on #242
Hi,

You can't use argument matchers inside the arguments themselves, they are meant to replace arguments to the mocked method.

A way to achieve what you want could be using a partial function matcher, something along these lines

[code]

[2020-05-22 19:00] gabrbuiv commented on #242
Thank you very much for a quick response! It worked!

[2020-05-22 19:00] #242 closed, assigned to nobody

[2020-05-22 19:06] ultrasecreth commented on #229
I can't promise anything as the mock generator uses Java reflection which is completely oblivious of this particular case, as it's illegal in the Java type system.
I'll keep trying ideas, but most probably unless I re-write the core of mockito again in Scala, I don't think it will be feasible.

[2020-05-25 07:09] longliveenduro opened #244 "Mockito throws NPE when using AnyVal derived types in mocked methods"
Mockito throws NPE when using AnyVal derived types in mocked methods

See https://github.com/longliveenduro/mockito-anyval-bug to reproduce.

See also https://gist.github.com/kasia-kittel/3255fd5dc5f8f861f4e02bb966302c1c

[2020-05-25 08:07] ultrasecreth commented on #244
99% sure that's because you must specify the type when using any matchers that replace a value class, check the docs here: https://github.com/mockito/mockito-scala#value-class-matchers

[2020-05-25 08:20] longliveenduro commented on #244
Cheers that works!

[2020-05-25 08:20] #244 closed, assigned to nobody

[2020-05-29 04:13] raksit31667 opened #246 "Exception during macro expansion in mockito-scala-scalatest"
## Context (Environment)
Running unit tests with following dependencies:
- Scala v2.11.12
- Gradle v5.6
- mockito-scala-scalatest_2.11 v1.14.3
- scalatest_2.11 v3.0.5
- spark-sql_2.11 v2.4.3

Here is the test script:

[code]

## Expected Behavior
Tests should be running without any exceptions thrown.

## Current Behavior
Failed to load ApplicationContext while initializing embedded database.
[code

[2020-05-29 11:58] txsmith commented on #226
Hey, thanks for your response. I finally got around to this and put up a minimal project here: https://github.com/txsmith/mockito-scala-bad-operand
Let me know if this works for you!

Maybe useful to also include JDK and SBT version:
[code]

[code]

[2020-05-29 21:29] ultrasecreth commented on #226
Well, this one took me a while, cause it didn't want to fail in my test code!

The issue is that the default mock maker doesn't play well with some advanced Scala things, so I use by default the inline one.

I didn't make it the default as the core guys where supposed to do so at some point, but it seems that it never happened.

Anyway, create a file like this one in your test resources and the is

[2020-05-29 21:31] ultrasecreth commented on #246
That's weird, the old syntax doesn't use any macros, so I don't think is a mockito problem per-se.

In any case, I'm not a spark guy, I can take a look, but I'd need if you can put together a small github project that reproduces the issue.

Thanks!

[2020-05-30 04:50] raksit31667 commented on #246
@bbonanno Here is my small project

https://github.com/raksit31667/example-spark-gradle/tree/mockito-scala-issue

Thank you for your support, appreciated.

[2020-05-30 09:13] ultrasecreth commented on #246
you'r assumption was right, you're using an old version of Scalatest, update to "3.1.2" and the problem goes away

[2020-05-31 12:41] raksit31667 commented on #246
The issue was resolved after upgrading to v3.1.2.

If you are Spark guys, and using [holdenk/spark-testing-base](https://github.com/holdenk/spark-testing-base), they are still depending on **scalatest v3.0.5**.

Please follow this pull request holdenk/spark-testing-base#320

[2020-05-31 12:41] #246 closed, assigned to nobody

[2020-06-08 10:58] tyrcho opened #250 "NPE when mocking a trait with a NonEmpyString argument"
I've created a very simple project to reproduce the issue : https://github.com/tyrcho/refined-mockito-scala

[This line](https://github.com/tyrcho/refined-mockito-scala/blob/master/src/test/scala/com/demo/HelloWorldTest.scala#L17) gets a NullPointerException when the test is run

Any workaround to initialize this mock ?

[2020-06-08 11:22] ultrasecreth commented on #250
I'll take a look

[2020-06-08 17:14] ultrasecreth commented on #250
The issue seems to be that the refined type is a value class, for which you need to specify the type when you use an any matcher.
I'm not too familiar with this lib, but could you try doing something like this

[code]

the above example doesn't work as it expects a literal, not sure how to dynamically instantiate a non empty string.

if you make it work please update your example so I can see if w

[2020-06-09 07:44] tyrcho commented on #250
well I really don't understand the exception. I also tested with this line
[code]

and I still get the same NPE. I don't see where mockito is trying to instanciate an NES or what would cause a NPE.

The stack is not helping ...
[code]

[2020-06-09 07:48] tyrcho commented on #250
OK, I think I understood by splitting the code

[code]

[2020-06-09 07:58] tyrcho commented on #250
#244 gave me an idea ... I tried this code
[code]

But the last test fails, the mock always return "hello" :-(

[2020-06-09 08:08] ultrasecreth commented on #250
I think there are 2 problems here

1) the refined class is a value class, in those cases, you must provide the type explicitly to the any matcher so it can wrap itself in said vale class. The old school way was to manually do `ValueClass(any)`, now the macro does that automatically when you write `any[ValueClass]`.
A problem with Refined is that its value clases have the constructor private, so th

[2020-06-09 10:16] tyrcho commented on #250
OK, first good news is that we have a workaround when comparing to an actual value:

[code]

I pushed this version of the code @sallareznov in https://github.com/tyrcho/refined-mockito-scala

[2020-06-09 10:23] ultrasecreth commented on #250
yeah, I have the feeling that the any matcher with refined types is not gonna work, mainly cause it's quite probable that any default value that it may return could be against what the refined type is checking.
the eq matcher and the like return the value you are expressing, so the type validation will run against it, and hence it should work.

[2020-06-09 10:23] tyrcho commented on #250
for the initial issue, how could we "tell mockito" to use another way to instanciate with `NonEmptyString.unsafeApply` instead of using the constructor ?

I don't really understand why mockito needs to instanciate the argument type in some cases. I also tried with `argThat` but same NPE.

[2020-06-09 10:24] tyrcho commented on #250
Could we somehow tell the matcher to use a default value like `"non empty"` instead of null or `"" ` ?

[2020-06-09 10:25] ultrasecreth commented on #250
the thing is that mockito is a Java lib, so its internals don't know about the value types as they don't really exist in Java land, it just deals with the wrapped type, that's why the matcher has to go inside the value class instance.

[2020-06-09 10:26] ultrasecreth commented on #250
Yes, I guess we could have a default, or an implicit that defines that, I'll take a look after work

[2020-06-09 10:26] ultrasecreth commented on #250
Btw, we should be having this discussion in Gitter, it would be much more fluent ;)

[2020-06-09 14:22] tyrcho commented on #250
conclusion of the discussion on gitter:

there is a workaround like this one
[code]

sample project is updated @ https://github.com/tyrcho/refined-mockito-scala

I let you guys decide if you want to implement sth to make it easier within the library (would be great !)

[2020-06-15 22:35] justinallenreeves opened #251 "IdiomaticMockitoSyntax appears not to handle thrown by without annotation"
Using Scala 2.12 and mockito-scala 1.14.4 (upgraded from 1.10.3 to verify bug)

Given a simple candidate for mocking:
[code]

[code]
will fail to compile unless `getCar` is annotated `@throws(classDef[Exception])`
[code]

alternative syntax
[code]
compiles and behaves as expected

[2020-06-17 06:36] longliveenduro opened #253 "How do I specify that a mock has no interactions after a given timeout in mockito-scala?"
I can't find a nice Scala DSL way to specify that a mock was not called after a specified duration.

Something like

aMock wasNever calledAgain after 2.seconds
The doc also doesn't mention anthing. https://github.com/mockito/mockito-scala

Do I have to fall back to standard mockito verification?

https://stackoverflow.com/questions/62410513/how-do-i-specify-that-a-mock-has-no-interactions-after-a-

[2020-06-17 08:32] ultrasecreth commented on #253
I'm not aware of any for doing that even in Java mockito, what you can do is assert for specific methods, and the Scala DSL for that would be something like

[code]

What you can't do is assert over the whole object and provide a timeout with mokito afaik.

In any case, I'll side with one of the answers in StackOverflow and use Scalatest for this kind of time related verifications, I added this to

[2020-06-17 09:13] longliveenduro commented on #253
In Mockito it is documented to be done like this, on a method invocation level

`verify(mock, timeout(100).never()).bar();`

https://www.javadoc.io/doc/org.mockito/mockito-core/2.2.9/org/mockito/verification/VerificationWithTimeout.html

See also the text hint below the code example:
"This is similar to after() except this assertion will immediately pass if it becomes true at any point, whereas af

[2020-06-17 09:19] longliveenduro commented on #253
You are right, sorry, seems there is no assert over the whole mock with a timeout/after.

[2020-06-17 09:52] longliveenduro commented on #253
Just as a suggestion: Maybe leave out the dependency on Scalatest. I personally love it, but I am currently working in a project using an old Specs2 version. So I would have a hard time (for good reasons) arguing to add a dependency on Scalatest just for this.

[2020-06-17 09:53] ultrasecreth commented on #253
Exactly, but even if there was any, I'd still recommend to use Scalatest for that(or Specs2, I'm sure it has a way to do that).

Mockito-Scala has integrations for both, Scalatest and Specs2, so you don't need to add Scalatest in your project, just use whatever tool Specs2 has to deal with async verifications :)

[2020-06-17 09:59] longliveenduro commented on #253
Unfortunately they use a very old version of Specs2 (2.5) and made a good job not to be easy upgradeable. So I will probably use the old Specs2 method here, but using any more recent Specs2 integration version of mockito-scala brings up probably more problems, which I currently try to avoid.

I am currently trying to establish a step-by-step approach to upgrade the libs as a big bang is not feasib

[2020-06-17 10:10] ultrasecreth commented on #253
Fair enough

[2020-06-18 09:45] Vrolijkx opened #254 "Mocking method return Any as type throws Exception"
The below example code explains the issue.
Reproducible in version `1.14.7`

[code]

stackTrace encountered:
[code]

[2020-06-18 09:52] Vrolijkx commented on #254
Looks to be a regression introduced here:
https://github.com/mockito/mockito-scala/commit/ef4d2a1d8c4afa738e736464ce90604d78ff32c9#diff-80aa179e011e2fa3d08daca9d7467f28

[2020-06-18 09:57] ultrasecreth commented on #254
@Vrolijkx oh wow, I'll take a look as soon as I can

[2020-06-23 16:38] dangerousben opened #256 "NPE caused by mocking a generic method multiple times"
https://scastie.scala-lang.org/7u0vppwoQJCB3nR7dxmdQA

[code]

[code]

[2020-07-06 13:25] #253 closed, assigned to nobody

[2020-07-10 12:08] txsmith commented on #226
That has worked, thanks a lot!

Now we're running into another problem however:
[code]
This fails to type-check:
[code]

[2020-08-22 17:53] ultrasecreth commented on #226
Hi there, sorry but I've been quite busy these past few months

I spent a lot of time with this and sadly I think it has no solution. The issue seems to be related to the boxing that's necessary for generics, so the ValueType uses actually Integer rather than Int in compile time, but then it uses Int on runtime, and that breaks everything (and it's probably the root cause of the first error you po

[2020-08-22 18:00] #250 closed, assigned to nobody

[2020-08-22 18:00] #251 closed, assigned to nobody

[2020-08-22 18:00] #254 closed, assigned to nobody

[2020-08-22 18:00] #256 closed, assigned to nobody

[2020-09-01 15:00] true-eye opened #417 "scala mockito error `value thenReturn is not a member of Nothing`"
- [x] The mockito message in the stacktrace have useful information, but it didn't help
 - [x] The problematic code (if that's possible) is copied here;
       Note that some configuration are impossible to mock via Mockito
 - [x] Provide versions (mockito / jdk / os / any other relevant information)
 - [x] Provide a [Short, Self Contained, Correct (Compilable), Example](http://sscce.org) of the i

[2020-10-21 08:55] rhh777 opened #303 "How to mock scala obejct"
hi , I tried to mock Scala with 1.16.0, but the result was an error. This is my code. What's wrong with it? thanks
my pom
<dependency>
            <groupId>org.mockito</groupId>
            <artifactId>mockito-scala_2.11</artifactId>
            <version>1.16.0</version>
        </dependency>
my scala 2.11.8
my obejct

object FooObject {
    def simpleMethod: String = "not mocked!"
}

object MockO

[2020-10-21 10:45] ultrasecreth commented on #303
It seems I forgot to mention it in the docs, you need to use the inline mock maker for this to work

[2020-10-21 12:18] rhh777 commented on #303
Sorry, I have checked the test package, I still don't quite understand what inline Mock Maker is, can you provide an example? thanks

[2020-10-21 14:28] LanceEa commented on #303
@QuietHR  - I was able to get it to work once I added MockMaker plugin per the release notes on Mockito - [Mock Maker](https://github.com/mockito/mockito/wiki/What%27s-new-in-Mockito-2#mock-the-unmockable-opt-in-mocking-of-final-classesmethods)

<img width="806" alt="Screen Shot 2020-10-21 at 9 27 37 AM" src="https://user-images.githubusercontent.com/8103374/96733984-ad0cbe80-137f-11eb-9a18-bd08c3

[2020-10-22 04:04] rhh777 commented on #303
<img width="1542" alt="图片" src="https://user-images.githubusercontent.com/41908930/96823137-5a560400-145e-11eb-876c-67800ac41f5e.png">
Thank you very much. According to your method, the mock succeeded ~

[2020-10-22 08:11] ultrasecreth commented on #303
Would you mind guys raising a PR to add those instructions on the README? I'm super busy these days but I can easily merge a PR :)

[2020-10-22 08:20] rhh777 commented on #303
Sure. It's my pleasure

[2020-11-07 18:02] #303 closed, assigned to nobody

[2020-11-08 23:42] oleksii-suprun opened #311 "withObjectMocked is not threadsafe"
Hi! It seems `withObjectMocked` may cause unexpected failures when tests are executing in parallel. According to implementation, it uses reflection to set an internal state of a singleton which may lead to unexpected behavior when another test runs in a different thread and tries to interact with that scala object.

This can lead to the following exceptions:
[code]
or
[code]
or
[code]

Any help or

[2020-11-09 09:14] ultrasecreth commented on #311
Interesting, according to the java docs of the feature it relies on it should be thread safe if used properly

[code]

I wonder if there is anything wrong in my impl...

[2020-11-09 11:00] oleksii-suprun commented on #311
@bbonanno thank you for your response.

I think there is an issue with the following piece of code in the current implementation:
[code]

The piece of doc you referenced describes a usage of a special case of mocking `org.mockito.Mockito#mockStatic(java.lang.Class<T>)`. But in the current `mockito-scala` uses the following method `org.mockito.MockitoEnhancer#mock(scala.reflect.ClassTag<T>, scala.r

[2020-11-09 19:10] ultrasecreth commented on #311
Ohh yes, you're right.
I actually got the inspiration from the fact the core guys released that method, but is of no use for Scala, you see, an `object` is not a collection of `static` methods, but just simply a singleton pattern, so you have a `static final MODULE$` variable that holds a single instance of the `object` class.
So what I had to do wasn't mocking a static method, but basically repla

[2020-11-09 19:51] ultrasecreth commented on #311
@aleksey-suprun please check the PR associated to this issue, the solution is a bit nuclear, but I don't think there's a way around it as we can't control how the compiler links the access to the singleton instance

[2020-11-09 21:45] oleksii-suprun commented on #311
Hi @bbonanno. I checked your solution. Actually, my first attempt to work the problem around was exactly the same. But it does not solve the main issue. The problem is not connected with a parallel mocking. The problem pops up when a number of tests interact with the same scala object (singleton) in parallel. Due to the fact that scala object is a singleton, we are getting mocked instance even in

[2020-11-09 22:01] ultrasecreth commented on #311
ohh I see, mixed concurrency would definitively be a problem...
Let me put a test together that checks that and see if there is a way around it

[2020-11-09 22:18] oleksii-suprun commented on #311
Thank you. Today I tried to find something which can help but still don't have any solution.

[2020-11-09 22:47] ultrasecreth commented on #311
@aleksey-suprun please have a look again, I think I got it right this time :)

[2020-11-09 23:05] ultrasecreth commented on #311
booo, it worked in my machine 😅

[2020-11-10 00:00] ultrasecreth commented on #311
OK, this time I got a green build :P

Please let me know your thoughts @aleksey-suprun

[2020-11-10 07:48] oleksii-suprun commented on #311
@bbonanno that looks great! 👍 Looking forward to the release 😉

[2020-11-10 10:04] #311 closed, assigned to nobody

[2020-11-22 16:58] mockitoguy opened #320 "Enable releases to Maven Central via Bintray"
Enable releases to Maven Central via Bintray

[2020-12-03 11:53] mockitoguy opened #324 "Migrate to GH actions"
Migrating to GH actions improves the CI/CD experience (the UI is cleaner, it's easier to analyze logs, the jobs start quicker).

Mockito (https://github.com/mockito/mockito/issues/2080) and mockito-testng (https://github.com/mockito/mockito-testng/pull/17) projects have already migrated to GH Actions.

[2020-12-03 12:05] ultrasecreth commented on #324
Nice, I'll have a look this weekend I hope

[2020-12-19 07:21] mbbush opened #328 "Strictness warn fails tests"
When I run my test suite that has many tests with unexpected invocations, unused stubbing, or both, I get the same number of failures regardless of whether I set the Strictness of the session to Warn or StrictStubs.

I stepped through the code, and I think the problem is that `MockitoScalaSessionListener#reportIssues` is not checking the strictness. When the strictness is lenient, all the unexpect

[2020-12-19 10:37] ultrasecreth commented on #328
So you mean `lenient` works as expected but `warn` behaves the same as `strict`?
Mind posting a small snippet to reproduce?

[2020-12-20 05:47] mbbush commented on #328
Yes, that's what I mean, at least as far as whether the tests pass or fail. I haven't exhaustively compared the output to know if there are differences in what is printed to the console or not.

[2020-12-23 20:10] #324 closed, assigned to nobody

[2020-12-23 20:13] ultrasecreth commented on #328
This could be due to the fact that mockito-scala is even stricter than mockito-core, so I may have missed something there, if you could please point me to one or two scenarios where it fails for you I can take a look and get it sorted

[2020-12-23 20:52] ultrasecreth commented on #320
@mockitoguy I think I did all the required changes, but the release step is failing, would you mind having a look? I think the repo is missing some credentials https://github.com/mockito/mockito-scala/runs/1602326603?check_suite_focus=true

[2020-12-29 15:18] mockitoguy commented on #320
@bbonanno, I just added "BINTRAY_API_KEY" secret to the repository

[2020-12-29 15:21] mockitoguy commented on #320
Also added NEXUS_TOKEN_USER, NEXUS_TOKEN_PWD secrets for maven central releases

[2020-12-30 15:13] ultrasecreth commented on #320
@mockitoguy the PR you merged failed to release :(
It seems it's something related to shipkit, but not sure what, as it seems to be executing the same command that travis was using to release

[2020-12-30 19:26] mockitoguy commented on #320
Looking...

[2020-12-31 17:39] mockitoguy commented on #320
@bbonanno, I should be able to fix the releases soon. Can you help me with something related to SBT? How can we avoid running tests when invoking the build? Currently, the "release" CI step performs the tests *again*, see in #338, I needed to add `build` step before `bintrayUpload`. Thanks!

[2020-12-31 17:54] ultrasecreth commented on #320
@mockitoguy I think what you want is `+package` rather than `build`
Notice the `+` sign, which is important as it tells SBT to package the lib for all the supported versions of Scala.

You'll see that for every module, 3 JARs are generated, for instance, the `core` module generates

- `core/target/scala-2.11/mockito-scala_2.11-<version>.jar`
- `core/target/scala-2.12/mockito-scala_2.13-<version>.j

[2020-12-31 19:40] mockitoguy opened #339 "Flaky test MockitoSugarTest_212"
Flaky test: MockitoSugarTest_212

[code]

Build failure: https://github.com/mockito/mockito-scala/runs/1631111020?check_suite_focus=true#step:4:2173

[2021-01-10 23:10] #339 closed, assigned to nobody

[2021-01-12 03:46] mockitoguy opened #344 "Can we get rid of the Travis file?"
Can we get rid of the Travis file? I'm trying to remove the entire Mockito organization from Travis.com

[2021-01-12 10:08] ultrasecreth commented on #344
Sure, I'll raise a PR ASAP

[2021-01-13 04:29] #344 closed, assigned to nobody

[2021-01-27 15:05] sa- opened #350 "withObjectMocked leads to "java.lang.NoSuchFieldException: modifiers""
I'm using java 8 and scala 2.12.

Is `withObjectMocked` supported in Java 8?

[code]

[2021-01-27 22:29] ultrasecreth commented on #350
Our CI tests Scala 2.11, 2.12 & 2.13 on both Java 8 & 11, so it should work...
Mind posting a code snippet that can be used to reproduce the issue?

[2021-01-28 07:27] froth opened #351 "Inconsistent release 1.6.17"
Scala steward informed me about a new release 1.6.17.
Looking at https://search.maven.org/search?q=mockito-scala it seems that something went wrong in the process, some packages have the new version some the old. Even mixing for different scala versions.

Not a real problem for me, but I thought you might to know (if you did not already noticed it)

[2021-01-28 10:09] ultrasecreth commented on #351
I noticed the release job failed yesterday, but on the bintray stage, didn't know that the maven release was corrupted...
As it was a dependency update I didn't pay that much attention, but what you say actually is a problem, gonna have to summon @mockitoguy here, as I'm not really familiar with the release process

Thanks for reporting it!

[2021-01-31 16:28] mockitoguy commented on #351
Hey guys! This is a little strange.
- "mockito-scala_2.13:1.16.17" has been published to central ([proof](https://repo1.maven.org/maven2/org/mockito/mockito-scala_2.13/1.16.17/)) but it does not show up in search.maven.org.
- "mockito-scala_2.12:1.16.17" (and 2.11) has **not** been published to Bintray, and therefore is missing from Central.

@bbonanno, what are the expected covariants of Scala we

[2021-01-31 18:21] omarkilani commented on #351
For whatever reason, the .pom is missing from the published artifact:

https://dl.bintray.com/mockito/maven/org/mockito/mockito-scala_2.13/1.16.17/

Note that the .pom.md5 is there, so that's a little strange.

[2021-02-01 13:10] mockitoguy commented on #351
The problem is that the CI build failed to publish all artifacts ([details](https://github.com/mockito/mockito-scala/runs/1780429587?check_suite_focus=true#step:4:3448)). My theory is that it's a bug in Gradle Bintray plugin: when one of the `bintrayUpload` tasks fails, the `bintrayPublish` task **should not** run (e.g. this looks like a bug in plugins handling of Gradle's finalizedBy/dependsOn).

[2021-02-01 13:10] mockitoguy commented on #351
@bbonanno, `[ci skip]`  does not work, we need to use `[skip ci]`, see the [CI configuration](https://github.com/mockito/mockito-scala/blob/release/1.x/.github/workflows/ci.yml#L24). Same goes for skipping releases, it needs to be `[skip release]` ("skip" goes first ;-)).

[2021-02-01 14:04] ultrasecreth commented on #351
@mockitoguy yeah, I noticed that after I merged, but in any case, it should have done a full release right? (I didn't care cause a full release out of that PR was not the end of the world).
I also noticed a PR failed the build on just the bintray upload (which is weird, why is a PR uploading anything)

The full release is a cartesian product of all the modules that produce a Jar x the 3 Scala vers

[2021-02-01 16:13] seigert opened #352 "With Scala 2.13 mockito-scala always treats `ArraySeq[_]` in last argument position as varags list"
It could be reproduced with following Ammonite script:
[code]

What's worse, not only last parameters declared as `ArraySeq` is treated as part of vararg, but also when `ArraySeq` value passed to a parameter of 'plain' `IndexedSeq` type, it is also treated as a varargs list.

We think that code of [`org.mockito.internal.handler.unwrapVarags`](https://github.com/mockito/mockito-scala/blob/66243b1cd

[2021-02-01 22:05] #352 closed, assigned to nobody

[2021-02-01 22:06] ultrasecreth commented on #351
I just merged another PR, no comments, so let's see how the release goes

[2021-02-02 08:30] seigert commented on #352
@bbonanno, big thanks! 👍

[2021-02-02 09:37] froth commented on #351
went good :) the new release is consistent

[2021-02-02 09:40] ultrasecreth commented on #352
@seigert no prob! thanks for the detailed report, it made it quite simpler to fix :)

[2021-02-02 09:41] ultrasecreth commented on #351
Nice, let's hope it doesn't happen again!

[2021-02-02 09:41] trompa commented on #350
I believe that original poster is running the tests with a bigger java version than 8, this is a problem I am facing for java 14, but not when i pass java 8 to sbt through  -java-home command

[2021-02-02 09:46] ultrasecreth commented on #350
I guess it could be worth adding CI on Java 14 or 15 to avoid this kind of issues in the future

[2021-02-02 09:51] trompa commented on #350
More info on the issue:
There is a change in final fields for java 13 that prevents this to work

See:
https://github.com/powermock/powermock/issues/939
Ported [this change](https://github.com/nebula-plugins/gradle-resolution-rules-plugin/commit/af39f010fa8230442c8ad54d6951a5a5f12ba34a?branch=af39f010fa8230442c8ad54d6951a5a5f12ba34a&diff=unified) to scala and will create a PR.
Local tests show it

[2021-02-02 09:56] ultrasecreth commented on #350
@trompa thanks a lot for the fix, will add CI on 13+ versions soon!

[2021-02-02 09:57] ultrasecreth commented on #351
Had to release again (another fix was made to the lib) so if that one's also successful I'll close this issue

[2021-02-02 11:38] trompa commented on #350
Unfortunately, it wasn complete, need to apply the same fix to setFinalStatic, working on it

[2021-02-02 11:47] ultrasecreth commented on #350
No prob, mind adding a newer Java version here?
https://github.com/mockito/mockito-scala/blob/release/1.x/.github/workflows/ci.yml
this way we know all of these changes work for sure :)

[2021-02-03 03:54] mockitoguy commented on #351
Hey @bbonanno, let's keep this open for a little bit because the root cause is not fixed. I reported a bug to Bintray plugin: https://github.com/bintray/gradle-bintray-plugin/issues/340

[2021-02-03 08:13] ultrasecreth commented on #351
@mockitoguy oh, fair enough

[2021-02-23 12:27] diversit opened #360 "Captor macro uses deprecated JavaConverters Scala 2.13"
In a Scala 2.13 project,
when creating an ArgCaptor for a Value Class
the compiler reports error: `object JavaConverters in package collection is deprecated (since 2.13.0): Use `scala.jdk.CollectionConverters` instead`

which is caused by this line in the Captor macro implementation (I think): https://github.com/mockito/mockito-scala/blob/6d9e26423dd4e1551994d86f95801e5048b8db07/macro/src/main/sca

[2021-02-23 15:07] ultrasecreth commented on #360
Cool, that should be an easy fix, will have a look as soon as I can

[2021-02-23 19:48] #360 closed, assigned to nobody

[2021-02-24 09:38] diversit commented on #360
Thanks!
I had also looked on a solution but yours is much more elegant.
Looking forward to a new release.

[2021-02-24 10:10] ultrasecreth opened #364 "Add support for Scala 3"
Scala 3 has a ton of changes on the internals and more importantly, the macros.
mockito-scala makes heavy use of macros, reflection and it also relies on knowing how certain features are compiled/implemented so they can run in the JVM.

This means that pretty much a new lib has to be written for dotty.

My current line of thinking is that we need to:

1. Implement the basic features for dotty in a

[2021-02-24 10:12] ultrasecreth commented on #364
This replaces #330

[2021-03-02 19:53] goytia54 commented on #246
I just wanted to add my resolution to this issue when changing from strictly mockito-core to mockito-scala. I had to add  ` "org.scalactic" %% "scalactic" % "3.0.3" % "test"` to my `dependencyOverrides`. I am not currently able to update `scalatest` past `3.0.4` and am on scala version `2.11.12`

[2021-03-17 03:57] chikei opened #371 "VerifyingOps with named argument method invocation cause unused-locals warning"
[code]
results some cryptic messages like `local val x$3 in value <local $anon> is never used`.

Poking around compiler settings, it seems due to the fact normally scala will desugar named argument into
[code]
but VerifyingOps and related macro will expand into
[code]

note that linter in scalac seems have some special rule for primitives so Int/Boolean/String etc won't cause the warning.

[2021-03-17 11:43] ultrasecreth commented on #371
Interesting, I thought we had tests that verified this compiler extraction of arguments work, I'll have a look

[2021-03-28 21:56] ultrasecreth commented on #371
First of all, I can't reproduce the issue, not even adding `-Ywarn-unused:locals` to my compiler settings, so I'm flying a bit blind here.

I can see the unused `val`s left behind by the macro, so I've made some changes based on what I can see, but I can't be sure I've done all the necessary changes (although I think I did) as I could never get the compiler to fail for me, so please get the versio

[2021-03-29 07:04] chikei commented on #371
I just realized it's caused by scalac option `-Wmacros:after`, sorry for forgot mention that. I've run `sbt scalatest/test:compile` with the compiler option enabled against PR #372 and it compiles.

[2021-03-31 09:03] ultrasecreth commented on #351
@mockitoguy this thing got worse, the last 3 master builds all hung and got cancelled after being stuck in the release step for a while

[2021-03-31 12:49] mockitoguy commented on #351
I will look into this. We need to migrate off bintray anyway.

[2021-04-13 05:22] #371 closed, assigned to nobody

[2021-04-22 11:22] borissmidt opened #378 "scala 2.13 array passed as Seq is seen as variarg"
In case we have a class extending a trait with final def mockito seems unable to get the right `methodsToProcess` and sees a wrapped array as a variarg. This also messes up the `captor` which sees it as multiple invocations for some odd reason.
[code]

When looking at the mock code this goes to unwrap variarg:
because in methodsToProcess == empty
[code]

[2021-04-22 11:43] borissmidt commented on #378
I suppose it is related to the variarg fix done lately and i will downgrade to 1.5

[2021-04-26 18:42] ultrasecreth commented on #378
Hi @borissmidt , sorry for the delay, I just tried to add this test in the codebase and works like charm, would you mind posting a repo link with the failing code? (I can't seem to reproduce it otherwise)

[code]

[2021-04-27 10:16] borissmidt commented on #378
No problem, it is used in a private repo of the company so i can't share that.
What i can tell you is that the methodsToProcess was empty in the case i changed the function ` def info(s: String): Unit = println("my hello")`  to ` final def info(s: String): Unit = println("my hello")`. but i can have another look today why it happens to give you some better info/snippet.

[2021-04-27 10:45] ultrasecreth commented on #378
@borissmidt if `final` methods are involved, make sure you're using the `mock-maker-inline` (the standard mock maker can't deal with finals and a bunch of other things), have a look at https://github.com/mockito/mockito-scala/blob/release/1.x/scalatest/src/test/resources/mockito-extensions/org.mockito.plugins.MockMaker for reference

[2021-04-27 10:48] borissmidt commented on #378
I guess there must have been something wrong with my dependencies. Since i can't reproduce it anymore.
Yea the weird thing with the final is that it was another method that was final, i.e. the logger library had final methods. Which cased some other code path to be taken.

[2021-04-27 10:48] #378 closed, assigned to nobody

[2021-05-14 09:22] tOverney commented on #364
Scala 3 first official version got released yesterday: https://github.com/lampepfl/dotty/releases/tag/3.0.0
:)

[2021-05-14 16:55] ultrasecreth commented on #364
Yeah, my main blocker is the tooling, I really need good debugging tools to reverse engineer what mockito and/or the scala compiler does and I found that almost impossible at the moment.
This is almost blocked I'd say until IntelliJ or any other real IDE has proper support for Scala 3 :(

[2021-05-24 19:18] ultrasecreth commented on #351
another failed release :(
https://github.com/mockito/mockito-scala/runs/2657755557?check_suite_focus=true

[2021-07-05 21:39] dotordogh commented on #364
Hi @bbonanno! We at Twitter are actively trying to cross-build our Util library (https://github.com/twitter/util) with Scala 3. We use `mockito-scala` in a base subproject that many others depend on. We've identified that we depend on `ArgumentMatchersSugar` and `IdiomaticMockito` in `mockito-scala` and depend on much more in `mockito-scala-scalatest`. Do you have an estimate for when we might be

[2021-07-06 08:43] ultrasecreth commented on #364
Hi @dotordogh,
Sadly the sorry state of affairs on the Scala 3 tooling is blocking me on the development of the Scala 3 version, last 2 times I tried I hit the hard wall of not having a fully functional IDE, that allows me to debug and reverse engineer what the Scala 3 compiler does.
At the time the consensus was to use print lines to "debug", but that doesn't cut it for me as I need to see how th

[2021-07-07 17:16] dotordogh commented on #364
@bbonanno Got it! Thank you for responding! I did see you mention that the IDE support for Scala 3 was subpar, but I was mainly wondering if things had improved since then.

I did try it with the 2.13 version and it seems to work fine for the cross-build, so we'll stick with that until we can upgrade.

@NataliaMGonzalez or I can provide you with a list of features that we use in the coming week to

[2021-07-26 10:45] dkulichkin opened #390 "Mocks do not work with scala parallel collections"
Please see the example below:

[code]

[2021-07-26 11:18] ultrasecreth commented on #390
hi @dkulichkin , I just refreshed my mind with the code.
Unfortunately, the feature of mocking a Scala `object` (as opposed to a class instance) only works on single threaded code, this is because a `static` field has to be overriden and if it was overriden globally it wouldn't work with parallel tests, so it's done on a thread-local basis.

changing the test to be like
[code]
makes the test pass,

[2021-07-26 12:08] Krever opened #391 "Matching an AnyVal with private constructor"
I'm not sure if it's limited to AnyVals or applies to any class with a private constructor, but it seems to be impossible to match arguments of such type.

Pseudo-example:
[code]
fails compilations with

[code]

I haven't found a workaround for now

[2021-07-26 13:12] ultrasecreth commented on #391
Scala version? (iirc on each version I use a different ~hack~ impl 😂 )

[2021-07-26 14:06] Krever commented on #391
`2.13.4`

[2021-07-26 19:24] ultrasecreth commented on #391
Well, here your code doesn't make it any easy, as there's no way for mockito to know how to construct a "default" value for it (value classes need a default value cause a reference to a value class can't ever be `null`)

Luckily the design of mockito-scala allows you to circumbent this (yay to past me!!) XD

So there's this type class `DefaultValueProvider` that's failing for you, the default impl

[2021-07-27 05:28] Krever commented on #391
Oh wow, that's pretty neat and it worked!
One unfortunate consequence is that in practice my `bar` had multiple arguments and because of how type inference works,
I had to explicitly provide type params to all wildcards (`bar(*[CountryCode], *[Thing1], *[Thing2]` and so on). Luckily for me, I had this exact problem in one helper function, but if it was distributed more widely, it would be quite a

[2021-07-28 10:49] dkulichkin commented on #390
Thanks @bbonanno I guess we can adopt our service (a repository in this case) to become a class, even though services are usually singletons by nature.

[2021-07-28 10:49] #390 closed, assigned to nobody

[2021-07-28 13:07] ultrasecreth commented on #390
You can make your `object` implements a `trait` where the behaviour is, like `trait` + `companion object` and then inject the trait as default params (or constructor injection). This way you have the best of both worlds, a singleton in prod that it is easily replaceable for test purposes :)

[2021-07-29 09:02] ultrasecreth commented on #351
Hi @mockitoguy, sorry to bother but I noticed that even the PR builds are failing now on the Bintray upload, did something change around that?

[2021-07-29 09:03] ultrasecreth commented on #391
Were all the params value classes? afaik, you only need to provide the types for value classes.

[2021-07-29 09:15] Krever commented on #391
Nope, only a single one but parameters become necessary because once I put `DefaultValueProvider[T]` in scope, type inference tries to use it everywhere where type param is not provided (infers the type param by the available implicit instance I think).

[2021-07-29 09:27] ultrasecreth commented on #391
Ohh, you can also make it not-implicit, it is just a param on the `any` method, so you can pass it manually too

[2021-07-29 12:44] Krever commented on #391
Right! I haven't thought of that :) Thanks.

You can keep this issue open if you'd like to improve the error message, otherwise, feel free to close.

[2021-07-29 14:12] mockitoguy commented on #351
Will take a look!

On Thu, Jul 29, 2021 at 11:02 Bruno Bonanno ***@***.***>
wrote:

--
Szczepan (Stefan) Faber
Creator of Mockito <http://mockito.org> | Maker of Open Source on GitHub
<https://github.com/mockitoguy>
Check out how to give great code reviews
<https://thenewstack.io/linkedin-code-review>. You will be glad you did!

[2021-08-11 13:30] ultrasecreth commented on #351
Hi @mockitoguy, sorry to be annoying but now no release at all can be made, and PRs don't build anymore as the bintrayUpload always fails... seems to be related to credentials according to the error, but there isn't much I can do here, would you mind to have a look :)

Cheers!!!

[2021-08-12 14:30] mockitoguy commented on #351
I'll make a commitment and resolve it by the end of this week. Will this
work? Thanks for your patience! I've been traveling.

[2021-08-12 14:48] ultrasecreth commented on #351
@mockitoguy sure, no worries, enjoy your trip :)

[2021-08-14 21:41] mockitoguy commented on #351
Let's track this in #320

[2021-08-14 21:41] #351 closed, assigned to mockitoguy

[2021-08-14 21:42] mockitoguy commented on #320
Actually, I'll create a new ticket.

[2021-08-14 21:42] #320 closed, assigned to mockitoguy

[2021-08-14 21:43] mockitoguy opened #394 "Enable releases to Maven Central"
We need to enable releases to Maven Central.

Tasks:

- migrate the Gradle plugins to new Shipkit libraries, remove Bintray because it's been phased out by JFrog.
- update documentation
- enable Maven central publications

[2021-08-14 21:44] mockitoguy commented on #394
@bbonanno, let's track the work in this ticket.

[2021-08-15 14:55] mockitoguy opened #395 "build.sh fails on Mac with java.util.zip.ZipException: duplicate entry: org/mockito/captor/Captor.class"
Currently, the build fails on my Mac with `java.util.zip.ZipException: duplicate entry: org/mockito/captor/Captor.class`

The full stack trace: https://gist.github.com/mockitoguy/462a1bea005ce40e563d020e42f9d793

After the failure, I see the following Captor.class files:

[code]

@bbonanno, can you help with this? Can you configure the SBT build so that it deals with those duplicates? Otherwise it

[2021-08-15 20:15] ultrasecreth commented on #395
Sure, I'll try to take a look tomorrow

[2021-08-16 20:13] ultrasecreth commented on #395
Hi @mockitoguy, just ran the build on my Mac and worked like charm :(

The thing I noticed, based on the gist, is that the version is trying to package (`mockito-scala_2.11-0.4.7.jar`) is a very old one, mine is trying to build `mockito-scala_2.11-1.16-SNAPSHOT.jar`, which makes more sense as the last released version to maven central was `1.16.37`. Could it be you're working on `master` and not `

[2021-08-16 22:36] mockitoguy commented on #395
Oups, that works :D

[2021-08-16 22:36] #395 closed, assigned to ultrasecreth

[2021-08-21 19:47] mockitoguy commented on #394
I had some time this morning and was able to [publish a single artifact](https://s01.oss.sonatype.org/content/repositories/snapshots/org/mockito/mockito-scala_2.11/1.16-SNAPSHOT/). Still needs work but giving heads up that I'm working on it.

[2021-08-23 06:59] DarrenBishop commented on #394
@mockitoguy any chance you can do a `+publishLocal` on that SNAPSHOT to push all cross-builds?

[2021-08-23 06:59] DarrenBishop commented on #394
@mockitoguy also, is there anything I/the community can help with?

[2021-08-27 15:08] NataliaMGonzalez commented on #364
Hi @bbonanno we have identified that this are the features we depend on:

* For `idiomaticMockito, ArgumentMatchersSugar, ArgCaptor, CallsRealMethod, DefaultAnswer `and `ResetMocksAfterEachTest` we need the full feature set;
* With `MockitoSugar` we use `verify` and `when`;
* And for `ScalaFirstStubbing` we use `thenReturn`

Thanks again for all your help!

[2021-08-28 16:31] mockitoguy commented on #394
I should be done with this today.

I believe so, we should be publishing 15 jars in total, supporting 3 Scala versions. Let me finish with this and let's chat if we need to publish more / differently.

[2021-08-28 17:06] DarrenBishop commented on #394
Great to hear.

Of course, I meant `+publish` earlier 😉

Confident that will be enough

[2021-08-28 20:57] mockitoguy commented on #394
I think we should be good with the releases, right? If something is amiss please reopen!

[2021-08-28 20:57] #394 closed, assigned to nobody

[2021-09-09 23:28] elij-p opened #402 "support for munit"
Are there any plans to add integration support for [munit][1] (scala) -- similar to how integration for scalatest and specs2?

[1]: https://github.com/scalameta/munit

[2021-09-10 13:11] ultrasecreth commented on #402
TBH I never used it, but can do it if there's demand :)
I'm short of time at the moment, but can also help/mentor someone in the community if anyone fancies a challenge.

[2021-09-10 13:17] ultrasecreth commented on #364
Yeah, pretty much anything that uses macros :(
Will give it a go again as soon as I have some free time (quite scarce lately)
Sorry about the wait!

[2021-09-20 05:59] shikhil-gupta opened #405 "Argument Matcher is not working for passing any[DataFrame]()"
Hi Team, I am writing unit test in scala and trying to mock and stub the following function. My function takes Dataframe as input.

  def calculateDeviceLevelAggregation(data : DataFrame) : DataFrame = {}

unit test

    val deviceHealthProfiler : DeviceOverAllHealthProfileProcessor = spy(new DeviceOverAllHealthProfileProcessor(spark, dao, any[Timestamp], any[Timestamp], 2, any[Timestamp]))

    d

[2021-09-21 10:05] ultrasecreth commented on #405
As the error says, argument matchers are for stubbing/verification only, you're trying to use them to construct your `DeviceOverAllHealthProfileProcessor`...

[2021-09-24 11:33] mr-git commented on #405
on which JDK version it happened?

I observed problems with stubbing and `*[SomeType]` matchers after switching from 16 to 17

[2021-10-04 10:54] shikhil-gupta opened #411 "When Stubbing function call it throws cannot be cast to org.apache.spark.sql.Dataset java.lang.ClassCastException:"
Hi Team, I have written this test but I am facing issue.

 test("applyNewDeviceEnrolledChanges") {

 val dao: DataAccessLayerDAO = mock(classOf[DataAccessLayerDAO])

 val metricStartTimeStamp : Timestamp = new Timestamp(LocalDate.parse("2021-10-03").atStartOfDay(ZoneId.of("UTC")).toInstant.toEpochMilli)

 val metricEndTimeStamp : Timestamp = new Timestamp(LocalDate.parse("2021-10-04").atStartOfDay

[2021-10-04 10:58] shikhil-gupta commented on #411
@bbonanno Can you please look into this issue?

[2021-10-04 11:00] shikhil-gupta commented on #405
@bbonanno Thanks for the reply. This solves my problem.

[2021-10-04 11:00] shikhil-gupta commented on #405
@mr-git I am using java 8 only.

[2021-10-12 09:20] ultrasecreth commented on #411
Given the syntax you're using, you don't seem to be using mockito-scala, would you mind refactoring that and try again?
also pls format the code in the issues, is really hard to follow otherwise

[2021-10-12 09:21] ultrasecreth commented on #411
To build on top of my prev comment, for this kind of weird errors, I'd need a repo with some code that can be run and reproduce the issue

[2021-10-12 09:21] #405 closed, assigned to nobody

[2021-10-20 14:27] anqit opened #414 "Have mockObject in async tests return a future"
Please see this stack overflow question:
https://stackoverflow.com/questions/68479241/pattern-for-async-testing-with-scalatest-and-mocking-objects-with-mockito

Basically, I think it would make sense if `mockObject` could return a future or `Future[Assertion]` as required by async tests when using `AsyncMockitoSugar`

[2021-10-20 14:43] ultrasecreth commented on #414
hi @anqit,
I'm afraid `mockObject` doesn't play well with multi-threading as the `object` code is stored as a singleton instance, so it's effectively global.

[2021-10-20 23:51] thespags commented on #350
I'm still seeing this issue with java8, scala 2.11, and mockito-scala-scalatest 1.16.46.
[code]

I'm using the code from the example in the readme

[code]

  Thank you.

[2021-10-20 23:53] anqit commented on #414
appreciate the comment, thanks!

[2021-10-20 23:53] #414 closed, assigned to nobody

[2021-10-21 15:30] ultrasecreth commented on #350
Will have a look

[2021-10-29 09:06] dwijnand commented on #417
The issue is you're returning a `Future[Good[List[User]]]` not a `Future[List[User]]`.

[2022-01-18 10:15] jveldhuizen commented on #364
Hi @bbonanno, do you have any news about this?

[2022-01-18 13:43] ultrasecreth commented on #364
@jveldhuizen I'm afraid not, I've been pretty busy at work and had 0 time.
Maybe someone in the community wants to step up? (would be also nice to raise the bus factor to at least 2)

[2022-02-05 15:52] DaveDeCaprio opened #440 "Session fails if tests override the default executionContext"
I have a test suite that overrides the executionContext, replacing serialExecutionContext with the scala default global executionContext.

This leads to transient errors because of `MockitoSessionAsyncFixture.withFixture`.  This function calls `session.finishMocking` inside `result.onOutcomeThen`, which uses the implicit `executionContext` for the suite.

The problem is that `finishMocking` needs

[2022-02-17 00:47] kurtrwall commented on #350
I'm seeing this using Java 8, Scala 2.12, mockito v1.17.0.

[2022-04-06 14:08] dormelamed commented on #29
For me, It wasn't enough to add the `Test / scalacOptions -= "-Ywarn-dead-code"` at the build.sbt file.
If you have the same problem and you are using IntelliJ.
Go to sbt -> auto-reload settings ->  compiler -> scala compiler -> additional compiler options. And delete the "-Ywarn-dead-code" from there.

[2022-04-21 09:21] bpatters opened #446 "by-name parameters incorrectly evaluated when mocking"
I've provided a very simple sbt project that reproduces this problem.
[by-name-repro.zip](https://github.com/mockito/mockito-scala/files/8529596/by-name-repro.zip)

In the reproduction project, similar to my actual scenario but simplified, the scenario is as follows:
I have a class we can call `DataManager` that I want to test. It's methods all follow a similar pattern of:
[code]

The implicit Sec

[2022-05-11 13:28] CalumMcCall opened #450 "verify number of invocations with `times` is broken"
Hi,

I've been trying to verify the number of times a mock is called, but my check always succeeds. My code is below, I've mimicked the functionality manually with an `AtomicInteger` which works, but using times doesn't. So the test below passes, but I'd expect the line with `verify()` to fail. Any idea what's going wrong here?

[code]

I've run into this problem before, I'm using v1.17.0, scala v

[2022-05-11 14:10] ultrasecreth commented on #450
Hey, there're some API bits in your example I don't recognise, are you sure you're using mockito-scala?
I mean, we don't have a method called `anyNumberOfTimes` nor a trait called `MockFactory`...

[2022-05-11 14:10] ultrasecreth commented on #446
Sorry, lost track of this, will try to check it over the weekend

[2022-05-12 14:39] CalumMcCall commented on #450
`MockFactory` is from scalatest. I guess maybe the issue is I'm mixing test libraries? I think my issues is with ScalaMock. My apologies for the mistake!

[2022-05-12 14:39] #450 closed, assigned to nobody

[2022-05-30 02:45] mazers0129 commented on #350
temporary...
I add vm option to my test.
--add-opens java.base/java.lang=ALL-UNNAMED
--add-opens java.base/java.lang.reflect=ALL-UNNAMED

it work for me!!

- ENV -
jdk17
scala 2.6.19
mockito-scala-scalatest 1.17.7

[2022-06-08 15:06] fdragar opened #452 "'this' is not available when debugging"
Basically exactly the same behaviour as in:

https://github.com/mockito/mockito/issues/2082

I'm using mock-maker-inline.

[2022-06-23 10:44] bpatters commented on #378
In case others run into this:
I was able to reproduce this in my code and using the test above with version `1.7.1` but  upgrading to `1.17.7` fixed the issue with the test, but not my code for some reason. I'll open a new ticket if I can figure out what's different from my scenario and this test.

[2022-07-21 18:36] LannyRipple opened #458 "mockito-scala error `value thenAnswer is not a member of Nothing`"
Using Mockito I do not receive the error but when using mockito-scala I do.  Code below mirrors the code I'm writing.

scalaVersion: 2.12.16
mockito-scala: 1.17.7

[code]

As a workaround I create the mock and set up thenAnswer in a def of an object which does not extends MockitoSugar.

[2022-07-22 14:21] jrgleason commented on #364
Any update?

[2022-07-22 16:34] ultrasecreth commented on #364
I'm afraid I'm not actively developing the lib anymore, just basic maintenance atm, so no clear path to get a Scala 3 version any time soon...
Happy to guide contributors if anyone wants to step in

[2022-08-11 19:59] CharlesZ-Chen opened #461 "Mockito won't stub method as expected if the method implemented with Singleton pattern."
I have a java class (but I think java shouldn't matter, the issue should persist even given a scala implementation)

[code]

I want to stub `MyClass.serialize()` call in my scala test suite via Mockito:
[code]

I found the stubbing will not work, as Mockito will register a method stub for `MyClass.expensiveSerialization()` instead of `MyClass.serialize()` -- however, during the actual method invoc

[2022-08-31 07:59] kwhitehouse opened #464 "Mockito and Swagger - unsafe symbol ApiModelProperty (child of package annotations) in runtime reflection universe"
**One-line description of issue**: We're seeing `java.lang.AssertionError: unsafe symbol ApiModelProperty (child of package annotations) in runtime reflection universe` and believe it's related to an interaction between mockito and swagger.

# Dependencies

Below is a snippet of the versions we're using of a few libraries that might be relevant.
[code]

# Code snippet

I was able to reproduce with

[2022-09-01 09:15] CChengjie opened #465 "tag missing problem"
I'm doing a research on tags .
We found that versions like **1.16.33**、**1.16.13** was released in Maven, but there was no corresponding tag in github, Can you help me with this?
1）What is the reason for tag's absence?

- a、This version code has problems, such as the loophole, compatibility and interface issues, etc.
- b、This version has functional problems, such as unreasonable function planning,

[2022-09-30 13:18] flo076 opened #468 "withObjectSpied call real method instead of stubbed"
Hello

In 1.17.12 of mockito-scala we have a strange behavior.
The method "simpleMethod" is really call.
If we launch the tests "with Spied", the temporary file is created and the method throw "java.lang.ArithmeticException: / by zero". On the contrary the test "with Mock" doesn't have problem.
I don't understand why ? It looks as a bug.

[code]